<div class="container marketing text-center">
  <div style="color: #675548" id="features" class="landing-section-title">
    <h3>الميزات</h3>
    <p>فيما يلي اهم الميزات التي تتمتع بها إس أر إم</p>
  </div>
  <!-- Three columns of text below the carousel -->
  <div class="row text-center">
    <div class="col-lg-4 text-center">
      <div
        style="background-color: #e1fdf3"
        class="xx rounded-circle d-flex justify-content-center align-items-center"
      >
        <span style="color: #6fd4be" class="material-symbols-outlined iconInfo">
          devices_other
        </span>
      </div>
      <h2 class="fontInfo fw-normal">منتجات متنوعة</h2>
      <p style="color: #675548">
        نوفرلك تشكيلة واسعة من المنتجات التي تناسب جميع الطبقات، مما يتيح
        للعملاء الاختيار من بين مجموعة متنوعة من السلع بمختلف الأسعار والأنواع.
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <div
        style="background-color: #fbd6be"
        class="xx rounded-circle d-flex justify-content-center align-items-center"
      >
        <span style="color: #fe9c78" class="material-symbols-outlined iconInfo">
          credit_score
        </span>
      </div>
      <h2 class="fontInfo fw-normal">جودة المنتجات والخدمة</h2>
      <p style="color: #675548">
        يتميز الموقع بتقديم منتجات عالية الجودة وخدمة ممتازة للعملاء، حيث يهتم
        برضا العملاء ويسعى جاهدًا لتقديم أفضل تجربة تسوق ممكنة.
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <div
        style="background-color: #d3bce0"
        class="xx rounded-circle d-flex justify-content-center align-items-center"
      >
        <span style="color: #8879ef" class="material-symbols-outlined iconInfo">
          local_shipping
        </span>
      </div>
      <h2 class="fontInfo fw-normal">خدمة التوصيل السريع</h2>
      <p style="color: #675548">
        يقوم الموقع بتوصيل المنتجات إلى المنازل في كافة أنحاء الجمهورية، مما
        يوفر راحة كبيرة للعملاء ويسهل عليهم الحصول على مشترياتهم دون الحاجة إلى
        الذهاب إلى المتاجر.
      </p>
    </div>
  </div>
</div>
