<div class="container marketing text-center">
  <div style="color: #675548" id="features" class="landing-section-title">
    <h3>الميزات</h3>
    <p>فيما يلي اهم الميزات التي تتمتع بها تجارة</p>
  </div>
  <!-- Three columns of text below the carousel -->
  <div class="row text-center">
    <div class="col-lg-4 text-center">
      <div
        style="background-color: #e1fdf3"
        class="xx rounded-circle d-flex justify-content-center align-items-center"
      >
        <span style="color: #6fd4be" class="material-symbols-outlined iconInfo">
          devices_other
        </span>
      </div>
      <h2 class="fontInfo fw-normal">منتجات متنوعة</h2>
      <p style="color: #675548">
=======
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row text-center">
    <div class="col-lg-4 text-center">
      <span class="material-symbols-outlined bg"> devices_other </span>
      <h2 class="fw-normal">منتجات متنوعة</h2>
      <p>
        منوفرلك تشكيلة واسعة من المنتجات من غير ما تهكل هم التخزين ولا رأس المال
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <div
        style="background-color: #fbd6be"
        class="xx rounded-circle d-flex justify-content-center align-items-center"
      >
        <span style="color: #fe9c78" class="material-symbols-outlined iconInfo">
          credit_score
        </span>
      </div>
      <h2 class="fontInfo fw-normal">تحصيل الارباح</h2>
      <p style="color: #675548">
        قم بتحصيل ارباحك خلال 24 ساعة فقط، من خلال وسائل السحب المتعددة
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <div
        style="background-color: #d3bce0"
        class="xx rounded-circle d-flex justify-content-center align-items-center"
      >
        <span style="color: #8879ef" class="material-symbols-outlined iconInfo">
          local_shipping
        </span>
      </div>
      <h2 class="fontInfo fw-normal">الشحن والتوصيل</h2>
      <p style="color: #675548">
        منقوم بتوصيل المنتجات لعملائك في كافة انحاء الجمهورية وبأسعار رمزية
      </p>
      <div class="xx rounded bg-danger">
        <span class="material-symbols-outlined bg"> credit_score </span>
      </div>
      <h2 class="fw-normal">تحصيل الارباح</h2>
      <p>قم بتحصيل ارباحك خلال 24 ساعة فقط، من خلال وسائل السحب المتعددة</p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <span class="material-symbols-outlined bg"> local_shipping </span>
      <h2 class="fw-normal">الشحن والتوصيل</h2>
      <p>منقوم بتوصيل المنتجات لعملائك في كافة انحاء الجمهورية وبأسعار رمزية</p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
