<!-- <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
>
</ngx-charts-line-chart> -->


<!-- <div class="row">-->

<!-- <div class=" p-5 h-75 w-75  ">
    <div class="d-flex " style="justify-content: space-between;">
justify-content align-items-center 
        <span><a type="button" style="direction: rtl;" class="btn btn-sm btn-outline-success ">
                <i class="bi bi-calendar-day mx-1"></i>
                This week
            </a></span>
        <span class=" h1" style="color: #675548; direction: ltr;">Dashboard</span>

    </div>
    style="object-fit: cover; width: 1300px;">-
    <canvas class=""  id="canvas"></canvas>
</div> -->
<!-- </div> -->


<!-- <div class="p-5 vh-100 d-flex justify-contentcenter align-items-center">
    <div class="w-75 h-75 d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-between">
            <div class="dropdown">
                <select class="btn btn-sm btn-outline-success dropdown-toggle m-2 select-custom" id="dropdownMenuButton" aria-expanded="false" (change)="onSelectionChange($event)">
                    <option class="btn btn-outline-success btn-light" value="This Week">This Week</option>
                    <option class="btn btn-outline-success btn-light"  value="This Year">This Year</option>
                </select>
                
               
            </div>
            <span class="h1" style="color: #675548;">Dashboard</span>
        </div>
        <div  class="d-flex justify-content-center">
            <canvas id="canvas"></canvas>
        </div>
    </div>
</div> -->

<!-- <div class="p-5 vh-100 d-flex justify-content-center align-items-center">
    <div class="w-100 w-lg-75 h-100 h-lg-75  d-flex flex-column justify-content-start">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="dropdown">
                <select class="btn btn-sm btn-outline-success dropdown-toggle m-2 select-custom" id="dropdownMenuButton" aria-expanded="false" (change)="onSelectionChange($event)">
                    <option class="btn btn-outline-success btn-light" value="This Week">This Week</option>
                    <option class="btn btn-outline-success btn-light" value="This Year">This Year</option>
                </select>
            </div>
            <span class="h1" style="color: #675548;">Dashboard</span>
        </div>
        <div class="d-flex justify-content-center">
            <canvas id="canvas"></canvas>
        </div>
    </div>
</div> -->


<!-- <div class="p-5 vh-100 d-flex justify-content-center align-items-center">
    <div class="w-75 h-75 d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-between">
            <div class="dropdown">
                <select class="btn btn-sm btn-outline-success dropdown-toggle m-2 select-custom" id="dropdownMenuButton" aria-expanded="false" (change)="onSelectionChange($event)">
                    <option class="btn btn-outline-success btn-light" value="This Week">This Week</option>
                    <option class="btn btn-outline-success btn-light"  value="This Year">This Year</option>
                </select>
            </div>
            <span class="h1" style="color: #675548;">Dashboard</span>
        </div>
        <div  class="d-flex justify-content-center">
            <canvas id="canvas"></canvas>
        </div>
    </div>
</div> -->

<div class="d-none d-md-block container-fluid p-0">
    <div class="row">
        <div class="col-12 p-0">
            <div class="p-5 vh-100 d-flex justify-content-center align-items-center">
                <div class="w-75 h-75 d-flex flex-column justify-content-center">
                    <div class="d-flex justify-content-between mb-4">
                        <div class="dropdown">
                            <select class="btn btn-sm btn-outline-success dropdown-toggle m-2 select-custom" id="dropdownMenuButton" aria-expanded="false" onchange="onSelectionChange(event)">
                                <option class="btn btn-outline-success btn-light" value="This Week">This Week</option>
                                <option class="btn btn-outline-success btn-light"  value="This Year">This Year</option>
                            </select>
                        </div>
                        <h1 class="m-0" style="color: #675548;">Dashboard</h1>
                    </div>
                    <div class="d-flex justify-content-center">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>