<div class="row p-5 ubuntu-regular">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3 ">
      <div class="card card-stats">
        <div class="card-body no-border ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning m-1">
                <!-- <i class="nc-icon nc-globe text-warning"></i> -->
                <!-- <i class="material-icons" [style.font-size]="fontSize" [style.color]="iconColor">{{ icon }}</i> -->

                <i class="material-icons" style="font-size: 35px; color: rgb(203, 177, 62);">production_quantity_limits</i>


              </div>
            </div>
            <div class="col-7 col-md-8 ubuntu-regular">
              <div class="numbers">
                <p class="card-category ubuntu-regular">المنتجات</p>
                <p class="card-title ubuntu-light">1500  
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer " style="border-top: none;">
          <hr>
          <div class="stats ubuntu-light">
            <i style="color: rgb(73, 72, 72);" class="fa fa-refresh ubuntu-regular m-1"></i> حدث الان 
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card card-stats">
        <div class="card-body m-1 ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <span class="material-symbols-outlined m-1 ">
                  payments
                </span>

              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category ubuntu-regular">الارباح</p>
                <p class="card-title ubuntu-light">$ 1,345
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer " style="border-top: none;">
          <hr>
          <div class="stats ubuntu-light">
            <i style="color: rgb(73, 72, 72);"  class="fa fa-calendar-o ubuntu-regular m-1"></i> في اخر يوم
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card card-stats">
        <div class="card-body m-1">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <span class="material-symbols-outlined order">
                  shopping_bag
                </span>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category ubuntu-regular ubuntu-regular">الطلبات</p>
                <p class="card-title ubuntu-light">2300
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer " style="border-top: none;">
          <hr>
          <div class="stats ubuntu-light">
            <i style="color: rgb(73, 72, 72);"  class="fa fa-clock-o m-1"></i> في اخر شهر
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card card-stats">
        <div class="card-body m-1">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <span class="material-symbols-outlined users">
                  diversity_3
                </span>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category ubuntu-regular">المستخدمين</p>
                <p class="card-title ubuntu-light">+45K
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer " style="border-top: none;">
          <hr>
          <div class="stats ubuntu-light">
            <i style="color: rgb(73, 72, 72);"  class="fa fa-refresh m-1"></i>  حدث الان
          </div>
        </div>
      </div>
    </div>
  </div>