<div class="container my-5">
  <div class="Mtitle">
    <span>
      <a href="">الرئيسية</a> /

      {{ prodDet.name }}
    </span>
  </div>
  <div class="row detials">
    <div class="imgs col-md-8 row">
      <div class="scrollImgs col-3 col-sm-2">
        <span
          class="material-symbols-outlined up"
          (click)="scroll('up')"
          *ngIf="showUpArrow"
        >
          keyboard_arrow_up
        </span>
        <div
          class="smallImgs"
          #smallImgs
          (click)="showImage($event, index, x.value[0])"
          *ngFor="let x of groupedByColor | keyvalue; let index = index"
        >
          <img [src]="x.value[0].coloredimage" alt="" />
        </div>
        <span
          class="material-symbols-outlined down"
          (click)="scroll('down')"
          *ngIf="showDownArrow"
        >
          keyboard_arrow_down
        </span>
      </div>

      <div class="mainImg col-9 col-sm-10">
        <img [src]="selectedImage" alt="" />
      </div>
    </div>
    <div class="pData col-md-4">
      <div class="detials">
        <h3>{{ prodDet.name }}</h3>
        <div class="rate" *ngFor="let c; in: prodDet.avgRating">
          <span class="material-symbols-outlined"> star </span>
          <span>({{ prodDet.numberReviews }} تعليقات)</span>
        </div>
        <div class="price">
          <div class="rowe" *ngIf="selectedvariant.discount > 0">
            <div class="title">قبل:</div>
            <div class="before">
              {{ selectedvariant.price / selectedvariant.quantity }}
              جنيه
            </div>
          </div>
          <div class="rowe">
            <div class="title">الان:</div>
            <div class="now">
              {{ selectedvariant.priceAfter / selectedvariant.quantity }}
              جنيه
            </div>
          </div>
          <div class="rowe" *ngIf="selectedvariant.discount > 0">
            <div class="title">وفرت:</div>
            <div class="sale">{{ selectedvariant.offerPrice }} جنيه</div>
            <div class="precent">خصم {{ selectedvariant.discount * 100 }}%</div>
          </div>
        </div>
        <div *ngIf="selectedvariant.discount > 0" class="comment">
          اي تعليق جديد
        </div>
      </div>
      <div class="line"></div>
      <div class="design">
        <div class="color">
          <div class="rowe">
            <div class="title">لون:</div>
            <div class="before">{{ selectedColor }}</div>
          </div>
          <!-- <div class="clrs">
            <div *ngFor="let color of getUniqueColors(); let index = index" class="box"
                 [class.selected]="color === selectedColor" (click)="selectColor(color, index)">
              <div class="circle"></div>
            </div>
          </div> -->

          <div class="clrs">
            <div
              *ngFor="let c of groupedByColor | keyvalue; let index = index"
              class="box"
              [class.selected]="c.value[0].colorName === selectedColor"
              (click)="selectColor(c.value[0], index)"
            >
              <div class="circle" [style.background-color]="c.key"></div>
            </div>
          </div>
        </div>
        <div class="size">
          <div class="rowe">
            <div class="title">مقاس:</div>
          </div>
          <div class="sizes">
            <div
              *ngFor="
                let variant of groupedByColor[selectedColorCode];
                let index = index
              "
              class="box"
              [class.selected]="variant.size === selectedSize"
              (click)="selectSize(variant.size, variant)"
            >
              {{ variant.size }}
            </div>
          </div>
        </div>
      </div>
      <div class="btns">
        <div class="rowe">
          <div class="title">العدد:</div>
          <div class="quanityInp">
            <span
              class="minus"
              [class.selected]="quantityNumber == 1"
              (click)="minus()"
              >-</span
            >
            <span class="num">{{ quantityNumber }}</span>
            <span class="plus" (click)="plus()">+</span>
          </div>
        </div>
        <div class="rowe">
          <button (click)="pushItemTocart()" class="btn btn-dark cartbtn">
            {{ buttonText }}
          </button>
          <button *ngIf="!isProductInFav"
            (click)="pushItemToFavCart(prodDet.id)"
            class="btn favbnt bi "
            [ngClass]="{
             'bi-heart' : !waitingFav,
             'bi-hourglass-split':waitingFav
            }"
          >
            <!-- <i class="bi bi-heart"></i> -->
            <!-- <i class="bi bi-heart-fill"></i> -->
          </button>
          <button 
          (click)="deleteFavitem()"
          [ngClass]="{
            'bi-heart-fill' : !waitingFav,
            'bi-hourglass-split':waitingFav
           }"
          *ngIf="isProductInFav"
            
            class="btn favbnt bi"
          >
            <!-- <i class="bi bi-heart"></i> -->
            <!-- <i class="bi bi-heart-fill"></i> -->
          </button>
        </div>
      </div>
      <div class="descrProd">
        <div class="title" (click)="toggle()">
          <p>وصف</p>
          <span *ngIf="open == false" class="material-symbols-outlined">
            add
          </span>
          <span *ngIf="open == true" class="material-symbols-outlined">
            remove
          </span>
        </div>
        <div>
          <pre class="content" id="descptionProductString">{{
            prodDet.description
          }}</pre>
        </div>
      </div>
    </div>
  </div>

  <!-- التقيييييييييييييييييييييم -->

  <div *ngIf="!customerHasReview" class="wrapper mt-5">
    <h3>أضف تقييم</h3>
    <form [formGroup]="commentForm" (submit)="confirmComment($event)">
      <div class="rating">
        <input type="number" name="rating" hidden />
        <i class="bx bx-star star" style="--i: 0"></i>
        <i class="bx bx-star star" style="--i: 1"></i>
        <i class="bx bx-star star" style="--i: 2"></i>
        <i class="bx bx-star star" style="--i: 3"></i>
        <i class="bx bx-star star" style="--i: 4"></i>
      </div>
      <textarea
        formControlName="comment"
        name="opinion"
        cols="10"
        rows="2"
        placeholder="رأيك يهمنا...."
      ></textarea>
      <div class="btn-group">
        <button type="submit" class="btn submit">تأكيد</button>
        <button class="btn cancel">حذف</button>
      </div>
    </form>
    <!-- <img
      class="image-content"
      src="assets\Images\WhatsApp Image 2024-03-30 at 03.19.41_c1bdd7bc.jpg"
      alt=""
    /> -->
  </div>

  <!-- التقيييييييييييييييييييييم -->

  <div class="row review">
    <h4>مراجعات العملاء</h4>
    <div class="averageRate">
      <h6>متوسط التقييم</h6>
      <div class="rowe">
        <span class="num">{{ prodDet.avgRating }}</span>
        <span class="star" *ngFor="let _ of getStarArray(prodDet.avgRating)">
          <span class="material-symbols-outlined"> star </span>
          <!-- <span class="material-symbols-outlined"> star </span>
          <span class="material-symbols-outlined"> star </span>
          <span class="material-symbols-outlined"> star </span>
          <span class="material-symbols-outlined"> star </span> -->
        </span>
      </div>
    </div>
    <div class="Comments">
      <h5>جميع التقييمات</h5>
      <div class="line3"><div></div></div>
      <div *ngFor="let x of prodDetrev" class="coment row">
        <div class="user col-md-3">
          <p class="name">{{ x.customerName }}</p>
          <div class="space"></div>
          <p class="date">{{ x.date.split("T") }}</p>
        </div>
        <div class="text col-md-9">
          <span class="stars" *ngFor="let _ of getStarArray(x.rate)">
            <i class="bi bi-star-fill"></i>
          </span>
          <p>
            {{ x.review }}
          </p>
        </div>
      </div>
      <!-- Pagination controls -->
      <div class="controls">
        <button class="btn" (click)="prevPage()" [disabled]="currentPage === 1">
          <i class="bi bi-caret-right-fill"></i>
        </button>
        Page {{ currentPage }} of {{ getTotalPages() }}
        <button
          class="btn"
          (click)="nextPage()"
          [disabled]="currentPage === getTotalPages()"
        >
          <i class="bi bi-caret-left-fill"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="relatedProduct">
    <h3 class="mb-3">ما ينظر إليه الاخرون</h3>

    <div class="items row ">
          <div *ngFor="let item of [1,2,3,4,5]" class="element col-lg-2 col-md-4">
            <div class="element-img">
              <span class="material-symbols-outlined cart"> shopping_cart </span>
              <span class="msg cart">اضف للعربة</span>
              <span class="material-symbols-outlined fav"> favorite </span>
              <span class="msg fav">اضف للمفضلة</span>
              <span class="material-symbols-outlined show"> visibility </span>
              <span class="msg show">عرض المنتج</span>
              <img
                src="https://websitedemos.net/office-furniture-store-04/wp-content/uploads/sites/913/2021/07/office-furniture-store-product-img-27.jpg"
              />
            </div>
            <div class="element-detials">
              <h4>اسم المنتج</h4>
              <p>300 <span>جنيه</span></p>
            </div>
          </div>



    </div>

  </div> -->
</div>
