<main class="container-fluid bg-light">
  <div class="py-5 text-center text-success">
    <h2>معلومات الطلب</h2>
  </div>
  <div *ngIf="productVarientperOrder.length == 0 && !noitem && !doneOrder"  style="height: 200px;">
    <div  class="loader"></div>
  </div>
  
  <div  *ngIf="productVarientperOrder.length == 0 && noitem && !doneOrder" class="px-5 mx-5 alert alert-success" role="alert">
    ليس لديك أي منتج في  قائمة الطلب. 
    

  </div>

  <div  *ngIf="doneOrder" class="px-5 mx-5 alert alert-success" role="alert">
        تم ارسال الطلب بنجاح  . 
    

  </div>
  <div *ngIf="productVarientperOrder.length > 0 || wiating" class="row g-3">
    <div class="col-md-4 col-lg-3 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-success">مشترياتك</span>
        <span class="badge bg-success rounded-pill">{{
          productVarientperOrder.length
        }}</span>
      </h4>

      <ul class="list-group mb-3">
        <li
          *ngFor="let item of productVarientperOrder; let i = index"
          class="list-group-item d-flex justify-content-between lh-sm p-3"
        >
          <div>
            <h6 class="my-0">{{ nameProductVarient[i] }}</h6>
            <small class="text-muted">{{ item.quantity }}</small>
          </div>
          <span class="text-muted">{{ item.totalCost }} EGY</span>
        </li>
        <li class="list-group-item d-flex justify-content-between p-3">
          <span>المجموع</span>
          <strong>{{ totalPrice }} EGY</strong>
        </li>
      </ul>


    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3 text-success">عنوان العميل</h4>
      <form
        class="needs-validation"
        novalidate
        [formGroup]="checkoutForm"
        (submit)="SendOrder($event)"
      >
        <div class="row g-3">
 
          <div
            class="col-12 form-control-div"
            [ngClass]="{
              sucess: mainaddresscontrol?.valid,
              danger:
                mainaddresscontrol?.errors &&
                (mainaddresscontrol?.touched || showerror)
            }"
          >
            <label for="address" class="form-label">العنوان</label>
            <input
              type="text"
              class="form-control"
              id="address"
              formControlName="mainaddress"
              placeholder="محافظة القاهرة ،مدينة نصر ،شارع الطيران"
              required
            />
            <i
              *ngIf="mainaddresscontrol?.valid"
              class="bi bi-check-circle-fill"
            ></i>
            <i
              *ngIf="
                mainaddresscontrol?.errors &&
                (mainaddresscontrol?.touched || showerror)
              "
              class="bi bi-exclamation-circle-fill"
            ></i>
            <div
              *ngIf="
                mainaddresscontrol?.errors &&
                (mainaddresscontrol?.touched || showerror)
              "
              class="alert p-1 mt-3 alert-danger"
            >
              <ng-container *ngIf="mainaddresscontrol?.hasError('required')">
                يجب عليك ادخال العنوان
              </ng-container>
              <ng-container *ngIf="mainaddresscontrol?.hasError('minlength')">
                هذا العنوان قصير
              </ng-container>
              <ng-container *ngIf="mainaddresscontrol?.hasError('pattern')">
                ادخل العنوان باللغة العربية
              </ng-container>
            </div>
          </div>


        </div>

        <hr class="my-4" />

        <div class="d-flex gap-2">
          <button 
          [ngClass]="{
            'col-8' : !wiating,
            col : wiating,
          }"
          class="btn btn-success mb-3 btn-lg bg-l col-8"
            type="submit"
          >
          <div *ngIf="wiating">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
          </div>
          {{btnText}}
          </button>
          <a  *ngIf="!wiating" class="btn btn-outline-danger mb-3 col btn-lg border-2"
            >الغاء الطلب</a
          >
        </div>
       

      </form>
    </div>
  </div>
</main>
