<!-- <main class="container-fluid bg-light">
  <div class="py-5 text-center text-success">
    <h2>معلومات الطلب</h2>
  </div>
  <div
    *ngIf="
      productVarientperOrder.length == 0 &&
      !noitem &&
      (!doneOrder || !errorOrder ||!deleteOrder)
    "
    style="height: 200px"
  >
    <div class="loader"></div>
  </div>

  <div
    *ngIf="
      productVarientperOrder.length == 0 &&
      noitem &&
      (!doneOrder || !errorOrder ||!deleteOrder)
    "
    class="px-5 mx-5 alert alert-success"
    role="alert"
  >
    ليس لديك أي منتج في قائمة الطلب.
  </div>

  <div *ngIf="doneOrder" class="px-5 mx-5 alert alert-success" role="alert">
    تم ارسال الطلب بنجاح .
  </div>

  <div *ngIf="errorOrder" class="px-5 mx-5 alert alert-danger" role="alert">
    عذرًا، حدث خطأ في إرسال الطلب. يرجى المحاولة مرة أخرى.
  </div>

  <div *ngIf="deleteOrder" class="px-5 mx-5 alert alert-secondary" role="alert">
    تم الغاء الطلب بنجاح.
  </div>
  <div
    *ngIf="
      (productVarientperOrder.length > 0 || wiating) &&
      !(doneOrder || errorOrder || deleteOrder)
    "
    class="row g-3"
  >
    <div class="col-md-4 col-lg-3 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-success">مشترياتك</span>
        <span class="badge bg-success rounded-pill">{{
          productVarientperOrder.length
        }}</span>
      </h4>

      <ul class="list-group mb-3">
        <li
          *ngFor="let item of productVarientperOrder; let i = index"
          class="list-group-item d-flex justify-content-between lh-sm p-3"
        >
          <div>
            <h6 class="my-0">{{ nameProductVarient[i] }}</h6>
            <small class="text-muted">{{ item.quantity }}</small>
          </div>
          <span class="text-muted">{{ item.totalCost }} EGY</span>
        </li>
        <li class="list-group-item d-flex justify-content-between p-3">
          <span>المجموع</span>
          <strong>{{ totalPrice }} EGY</strong>
        </li>
      </ul>
    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3 text-success">عنوان العميل</h4>
      <form
        class="needs-validation"
        novalidate
        [formGroup]="checkoutForm"
        (submit)="SendOrder($event)"
      >
        <div class="row g-3">
          <div
            class="col-12 form-control-div"
            [ngClass]="{
              sucess: mainaddresscontrol?.valid,
              danger:
                mainaddresscontrol?.errors &&
                (mainaddresscontrol?.touched || showerror)
            }"
          >
            <label for="address" class="form-label">العنوان</label>
            <input
              type="text"
              class="form-control"
              id="address"
              formControlName="mainaddress"
              placeholder="محافظة القاهرة ،مدينة نصر ،شارع الطيران"
              required
            />
            <i
              *ngIf="mainaddresscontrol?.valid"
              class="bi bi-check-circle-fill"
            ></i>
            <i
              *ngIf="
                mainaddresscontrol?.errors &&
                (mainaddresscontrol?.touched || showerror)
              "
              class="bi bi-exclamation-circle-fill"
            ></i>
            <div
              *ngIf="
                mainaddresscontrol?.errors &&
                (mainaddresscontrol?.touched || showerror)
              "
              class="alert p-1 mt-3 alert-danger"
            >
              <ng-container *ngIf="mainaddresscontrol?.hasError('required')">
                يجب عليك ادخال العنوان
              </ng-container>
              <ng-container *ngIf="mainaddresscontrol?.hasError('minlength')">
                هذا العنوان قصير
              </ng-container>
              <ng-container *ngIf="mainaddresscontrol?.hasError('pattern')">
                ادخل العنوان باللغة العربية
              </ng-container>
            </div>
          </div>
        </div>

        <hr class="my-4" />

        <div class="d-flex gap-2">
          <button
          *ngIf="!waitingDelete"
            [ngClass]="{
            'col-8' : !wiating,
            col : wiating,
          }"
            class="btn btn-success mb-3 btn-lg bg-l col-8"
            type="submit"
          >
            <div *ngIf="wiating">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            {{ btnText }}
          </button>
          <button
          (click)="cancelOrder()"
          *ngIf="!wiating"

          class="btn btn-outline-danger mb-3 col btn-lg border-2 delbtn"
          >
          <div>
            <div *ngIf="waitingDelete" class="lds-ellipsisd">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          {{delText}}
          </button>


        </div>
      </form>
    </div>
  </div>
</main> -->

<div class="container p-5">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal2"
  >
    Login Form
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModal2Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModal2Label">
          معلومات الطلب
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">المحافظة</label>
            <input
              type="text"
              formControlName="Governorate"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.Governorate.errors }"
              id="inputEmail4"
            />
            <label for="exampleInputEmail1" class="form-label">المركز</label>
            <input
              type="text"
              formControlName="place"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.place.errors }"
              id="inputEmail4"
            />
            <label for="exampleInputEmail1" class="form-label"
              >المنطقة السكنية
            </label>
            <input
              type="text"
              formControlName="residential_area"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.residential_area.errors
              }"
              id="inputEmail4"
            />
            <label for="exampleInputEmail1" class="form-label"
              >رقم التليفون للتواصل عند الإستلام</label
            >
            <input
              type="number"
              formControlName="phone"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
              id="inputEmail4"
            />
            <div
              *ngIf="submitted && f.Governorate.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.Governorate.errors.required">العنوان مطلوب</div>
              <div *ngIf="f.Governorate.errors.email">
                ادخل العنوان باللغة العربية رجاءا
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">إرسال الطلب</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          إلغاء الطلب
        </button>
      </div>
    </div>
  </div>
</div>
