
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>create</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <div class="text-center">
        <br /> <br />

        <h1 class="display">Department</h1>

        <form action="/Department/AddNewStudent" method="post" class="form" style="padding : 70px;">
            <input type="text" name="ID" placeholder="ID" class="form-control" /><br /> <br />
            <input type="text" name="Name" placeholder="Name" class="form-control" /><br /> <br />
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</body>
</html>
