@model List<Department>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <table class="text-center table">
        <thead>
        <th></th>
        <th>ID</th>
        <th>Name</th>

        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>@item.ID</td>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    <br />
    <br />
    <br />


    <div class="text-center">
        <a href="/Department/create" class="btn btn-success">ADD</a>
    </div>
</body>
</html>
