<footer id="footer">
  <!-- <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>يمكنك الانضمام الينا</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> -->

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-3 col-md-6 footer-contact">
            <h3>موقع الالكتروني</h3>
            <p>
              <br>
              موقع تجاري للخدمات الاونلاين <br><br>
              <strong>الرقم:</strong> 01203592922<br>
              <strong>الايميل:</strong> shrouk@gamil.com<br>
            </p>
          </div> -->

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>روابط مفيده</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">الرئيسية</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="store">المتجر</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="favorite">المفضلة</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="cart">عربة التسوق</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>حول</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">سياسة الخصوصية</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">الشروط والاحكام</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">الشحن والتوصيل</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="aboutus">من نحن</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>الدعم والمساعده</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">اتصل بنا</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">الاسئلة الشائعه</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">شراء الاسكريبت</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>التعليمات</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#"> كيف تبدا معانا</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">الدردشه</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>الدعم والمساعده</h4>
          <section class="mb-4">
            <!-- Facebook -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
           
           
          </section>
          <!-- Section: Social media -->
        </div>
        </div>
      </div>
    </div>


  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>SRM</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">Designed by <a href="=SRM">SRM</a></div>
  </div>
</footer>
