<!-- <nav
  id="navbar"
  class="w-100 navbar bg-light nav-fixed"
>
  <ul>
    <li><a class="nav-link scrollto active" href="#hero">الرئيسية</a></li>
    <li><a class="nav-link scrollto" href="#about">المميزات</a></li>
    <li><a class="nav-link scrollto" href="#services">كيف تبدا معانا</a></li>
    <li><a class="nav-link scrollto" href="#team">اراء التجار</a></li>
    <li><a class="nav-link scrollto" href="#team"> الشحن والتوصيل</a></li>

    <li></li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary nav-fixed">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">موقعنا</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="mainpage"
          >الرئيسية</a
        >
        <a class="nav-link" href="future">المميزات</a>
        <a class="nav-link" href="signup">كيف تبدا معانا</a>
        <a class="nav-link" href="reviews">اراء التجار</a>
        <a class="nav-link" href="aboutus">الشحن والتوصيل</a>
      </div>
    </div>
  </div>
</nav>
