<nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link scrollto active" href="#hero">الرئيسية</a></li>
        <li><a class="nav-link scrollto" href="#about">المميزات</a></li>
        <li><a class="nav-link scrollto" href="#services">كيف تبدا معانا</a></li>
        <li><a class="nav-link scrollto" href="#team">اراء التجار</a></li>
        <li><a class="nav-link scrollto" href="#team"> الشحن والتوصيل</a></li>

        <li >
        </li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>