<!-- <app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-2"><app-aside></app-aside></div>
    <div class="col-10"><app-home></app-home></div>
  </div>
</div>

<app-footer></app-footer> -->

<!-- <app-binding></app-binding> -->

<!-- <app-two-way-binding-manual></app-two-way-binding-manual> -->

<!-- <app-two-way-binding-with-forms-module></app-two-way-binding-with-forms-module> -->

<app-directives></app-directives>

<!-- <app-todo-list></app-todo-list> -->
<!-- <app-form-with-validation></app-form-with-validation> -->


