<div class="container">
    <div class="contai">
        <header>
            <h3>الفئات</h3>
        </header>
        <div class="addbtn">
            <button class="btn btn-outline-secondary rounded-1">اضافة فئة</button>
        </div>
        <div class="table-wrapped">
            
            <table class="table-products">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>الاسم</th>
                        <th>الايقون</th>
                        <th>الوصف</th>
                        <th>الاجراءات</th>
                    </tr>
                </thead>

                <tbody id="tbdyprod">
                    <td data-label="#">1</td>
                    <td data-label="الاسم">رجالي</td>
                    <td data-label="الايقون"><i class="bi bi-gender-male"></i></td>
                    <td data-label="الوصف"><p>يتميز القسم بتوفر مجموعة متنوعة من الملابس بدءًا من البدل التقليدية الأنيقة والملابس الرسمية المناسبة للمناسبات الخاصة والعمل، وصولاً إلى الملابس الكاجوال المريحة المثالية للاستخدام اليومي والنشاطات الرياضية.</p></td>
                    <td data-label="الاجراءات">
                        <button class="btn2 btn-edit">تعديل</button>
                        <button class="btn2 btn-delete">مسح</button>
                    </td>
                     <!-- <td style="text-align: center;">
                        <p class="statusprreject">Accepted</p>
                    </td>  -->
                    
                </tbody>

            </table>
            <div id="loading-icon" class="loading-icon"></div>

        </div>
    </div>
</div>
