<div class="container">
    <div class="contai">
        <header>
            <h3>الفئات</h3>
        </header>
        <div class="addbtn">
            <button 
            [routerLink]="'/admin/category/add'"
            class="btn btn-outline-secondary rounded-1"
            >اضافة فئة</button>
        </div>
        <div *ngIf="categoryList.length == 0 && waiting" class="loader2"></div>
        <div *ngIf="categoryList.length == 0 && noitem" class="alert alert-danger mx-4 my-3" >لم تتضف فئات بعد
    </div>
        <div *ngIf="categoryList.length > 0" class="table-wrapped">
            
            <table class="table-products">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>الاسم</th>
                        <th>الايقون</th>
                        <th>الوصف</th>
                        <th>الاجراءات</th>
                    </tr>
                </thead>

                <tbody id="tbdyprod">
                    <tr *ngFor="let c of categoryList  | paginate: {  itemsPerPage: 6, currentPage: p, }">
                    <td data-label="#">{{c.id}}</td>
                    <td data-label="الاسم">{{c.name}}</td>
                    <td data-label="الايقون"><span class="material-symbols-outlined">
                        {{c.icon}}
                        </span></td>
                    <td data-label="الوصف"><p>{{c.description}}</p></td>
                    <td data-label="الاجراءات">
                        <button 
                        [routerLink]="'/admin/category/edit/'+c.id"
                        class="btn2 btn-edit"
                        >تعديل</button>
                        <button (click)="deleteCategory(c.id)" class="btn2 btn-delete">مسح</button>
                    </td>
                    </tr>
                    
                    
                    
                </tbody>

            </table>
            <div style="margin-top: 10px;"  class="pagiDiv">
                <pagination-controls class="custom-pagination" nextLabel="&rsaquo;" previousLabel="&lsaquo;" (pageChange)="p = $event"></pagination-controls>
              </div>

            <div id="loading-icon" class="loading-icon"></div>

        </div>
    </div>
</div>
