<div class="container">
    <div class="contai">
        <header>
            <h3>المستخدمين</h3>
        </header>
        <div *ngIf="cstList.length == 0 && waiting" class="loader2"></div>
        <div *ngIf="cstList.length == 0 && noitem" class="alert alert-danger mx-4 my-3" >لا يوجد مستخدمين حتي الان  
    </div>
        <div *ngIf="cstList.length > 0" class="table-wrapped">
            
            <table class="table-products">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>الاسم</th>
                        <th>التليفون</th>
                        <th>الايميل</th>
                        <th>الاجراءات</th>
                    </tr>
                </thead>

                <tbody id="tbdyprod">
                    <tr *ngFor="let c of cstList  | paginate: {  itemsPerPage: 6, currentPage: p, }">
                    <td data-label="#">{{c.id}}</td>
                    <td data-label="الاسم">{{c.name}}</td>
                    <td data-label="التليفون">
                        {{c.phone}}
                        </td>
                    <td data-label="الايميل"><p>{{c.email}}</p></td>
                    
                        <button (click)="deletecSt(c.id)" class="btn2 btn-delete">مسح</button>
                    
                    </tr>
                    
                    
                    
                </tbody>

            </table>
            <div style="margin-top: 10px;"  class="pagiDiv">
                <pagination-controls class="custom-pagination" nextLabel="&rsaquo;" previousLabel="&lsaquo;" (pageChange)="p = $event"></pagination-controls>
              </div>


        </div>
    </div>
</div>
