<!-- <p>product-details works!</p>
<div class="card mb-4 rounded-3 shadow-sm" *ngIf="product; else notFound">
    <img [src]="product?.img" class="card-img-top" width="500" height="300" style="object-fit: cover" />
    <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{ product?.name | uppercase }}</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">
            {{ product?.description }}
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>Price: {{ product?.price | currency }}</li>
            <li *ngIf="product?.onSale">
                Discount: {{ product?.discount | percent }}
            </li>

            <li *ngIf="product?.quantity == 0">Sold Out</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary" [disabled]="product?.quantity == 0">
            Add To Cart
        </button>
    </div>
</div>

<ng-template #notFound>
    <div class="bg-dark text-light text-center p-5 rounded">
        <h1>this id is not valid</h1>
    </div>
</ng-template> -->