<form class="row g-3" (submit)="SendValues($event)">
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">First name</label>
    <input
      [(ngModel)]="name"
      name="name"
      type="text"
      class="form-control"
      id="validationServer01"
      required
      [ngClass]="{
        'is-valid': NameValidation,
        'is-invalid': !NameValidation && NameTouched
      }"
    />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Name must be at least 5 letters</div>
  </div>
  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Age</label>
    <input
      [(ngModel)]="age"
      name="age"
      type="number"
      class="form-control"
      id="validationServer02"
      required
      [ngClass]="{
        'is-valid': AgeValidation,
        'is-invalid': !AgeValidation && AgeTouched
      }"
    />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Age Must be from 18 to 25</div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
