<div class="container">
  <div class="contai">
    <header>
      <h3>المنتجات</h3>
    </header>
    <div class="addbtn">
      <button
        [routerLink]="'/admin/product/add'"
        class="btn btn-outline-secondary rounded-1"
      >
        اضافة منتج
      </button>
    </div>
    <div class="table-wrapped">
      <table class="table-products">
        <thead>
          <tr>
            <th>#</th>
            <th>الاسم</th>
            <th>الصور</th>
            <th>السعر</th>
            <th>الاجراءات</th>
          </tr>
        </thead>

        <tbody id="tbdyprod">
          <tr *ngFor="let x of productList">
            <td data-label="#">{{ x.id }}</td>
            <td data-label="الاسم">{{ x.name }}</td>
            <td data-label="الصور">
              <img [src]="'http://localhost:5058/Images/'+x.image" />
            </td>
            <td data-label="السعر">{{x.price}}</td>
            <!-- <td class="cats" data-label="الفئات">
                        <p>عام</p>
                        <p> رجالي</p>
                    </td> -->
            <!-- <td data-label="التقييم">4</td>
                    <td data-label="تاريخ الاضافة">12/3/2034</td> -->
            <td data-label="الاجراءات">
              <button
                class="btn2 btn-edit"
                [routerLink]="'/admin/product/edit/1'"
              >
                تعديل
              </button>
              <button (click)="deleteProduct(x.id)" class="btn2 btn-delete">
                مسح
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="loading-icon" class="loading-icon"></div>
    </div>
  </div>
</div>
