<div class="container">
    <div class="contai">
        <header>
            <h3>المنتجات</h3>
        </header>
        <div class="addbtn">
            <button 
            [routerLink]="'/admin/product/add'"
            class="btn btn-outline-secondary rounded-1">اضافة منتج</button>
        </div>
        <div class="table-wrapped">
            
            <table class="table-products">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>الاسم</th>
                        <th>الصور</th>
                        <th>الفئات</th>
                        <th>التقييم</th>
                        <th>تاريخ الاضافة</th>
                        <th>الاجراءات</th>
                    </tr>
                </thead>

                <tbody id="tbdyprod">
                    <td data-label="#">1</td>
                    <td data-label="الاسم">تيشيرت</td>
                    <td data-label="الصور">
                        <img src="https://eg.hm.com/assets/styles/HNM/16740798/36040666f18f5b8f7c204c3b3d72b61f9c40668b/2/image-thumb__4938476__product_zoom_medium_606x504/1f8db659aa00fbbd5563e2b09bcbb8b7bf6aa746.jpg" >
                    </td>
                    <td class="cats" data-label="الفئات">
                        <p>عام</p>
                        <p> رجالي</p>
                    </td>
                    <td data-label="التقييم">4</td>
                    <td data-label="تاريخ الاضافة">12/3/2034</td>
                    <td data-label="الاجراءات">
                        <button class="btn2 btn-edit" [routerLink]="'/admin/product/edit/1'">تعديل</button>
                        <button class="btn2 btn-delete">مسح</button>
                    </td>
                     <!-- <td style="text-align: center;">
                        <p class="statusprreject">Accepted</p>
                    </td>  -->
                    
                </tbody>

            </table>
            <div id="loading-icon" class="loading-icon"></div>

        </div>
    </div>
</div>
