<div class="container bootstrap snippets bootdey" style="min-height: 550px">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">
          <!-- <a href="#">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar3.png"
              alt=""
            />
          </a> -->
          <h1>{{ name }}</h1>
          <p>{{ email }}</p>
        </div>
        <div class="card" >
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item"
              [routerLink]="'/profile/profiledetails'"
              routerLinkActive="active"
            >
              <a> <i class="fa fa-user"></i> الملف الشخصي</a>
            </li>
            <li
              class="list-group-item"
              [routerLink]="'/profile/order'"
              routerLinkActive="active"
            >
              <a> <i class="fa fa-calendar"></i>الطلبات </a>
            </li>
            <li
              class="list-group-item"
              [routerLink]="'/profile/editprofile'"
              routerLinkActive="active"
            >
              <a> <i class="fa fa-edit"></i> تعديل الملف</a>
            </li>
            <li
              class="list-group-item"
              [routerLink]="'/profile/updatapassword'"
              routerLinkActive="active"
            >
              <a> <i class="fa fa-edit"></i> تعديل كلمة المرور</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="profile-info col-md-9">
      <div class="panel">
        <div class="bio-graph-heading">
          اهلا بك عميلنا العزيز فى هذه الصفحة يمكنك الإطلاع على معلوماتك الشخصية
          وتعديلها
        </div>
        <!-- <hr> -->
        <router-outlet></router-outlet>
        <div></div>
      </div>
    </div>
  </div>
</div>
