@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Edit</title>
</head>
<body>
    <h1 class="text-center text-info m-4">Edit Department</h1>
    <form action="/Department/Edit/@Model?.Id" method="post" class="w-50 m-auto">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" value="@Model?.Name" /><br />
        <label>Description</label>
        <input type="text" name="Description" class="form-control" value="@Model?.Description" /><br />
        <input type="submit" class="btn btn-info m-auto" />

    </form>
</body>
</html>
