<div class="conta m-3">
  <h3>جميع الفئات</h3>
  <div class="line"></div>
  <div class="items ">
    <div class="element ">
      <span class="material-symbols-outlined"> category </span>
      <h6>جميع المنتجات</h6>
    </div>
    <div class="element">
        <span class="material-symbols-outlined"> shopping_bag </span>
        <h6>قسم عام</h6>
      </div>
    <div class="element">
      <span class="material-symbols-outlined"> steps </span>
      <h6>الأحذية</h6>
    </div>
    <div class="element">
      <span class="material-symbols-outlined">watch_screentime</span>
      <h6>الساعات</h6>
    </div>
    <div class="element">
      <span class="material-symbols-outlined"> apparel </span>
      <h6>الملابس</h6>
    </div>
    <div class="element">
        <span class="material-symbols-outlined">
            bedroom_baby
            </span>
        <h6>قسم الاطفال</h6>
      </div>
  </div>
  <div class="line2"></div>
</div>
