.conta{
    text-align: center;
    padding-top: 50px;
}

.conta h3{
    font-weight: bold;
}

.conta .line{
    border: 1px solid green;
    width: 50px;
    margin: 20px auto;
}

.conta .items{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.conta .items .element{
    width: 120px;
    margin: 20px;
    padding: 10px;
    border-radius: 10%;
    align-items: center;
}


.conta .items .element.active{
    background-color: rgba(165, 164, 164, 0.1);
    color: green;
}


.conta .items .element:hover{
    background-color: rgba(165, 164, 164, 0.1);
    color: green;
    cursor: pointer;
}

span.material-symbols-outlined{
    font-size: 40px;
    margin-bottom: 15px;
}


.line2{
    width: 65%;
    margin: 0 auto;
    border: 1px solid black;
}

  
