<div class="conta m-3">
  <h3>جميع الفئات</h3>
  <div class="line"></div>
  <div class="items">
    <ng-container *ngFor="let x of categoryList">
      <div
        *ngIf="x.numberOfProducts > 0"
        [ngClass]="{ active: x.name == categoryName }"
        [routerLink]="['/home', x.name]"
        class="element"
      >
        <span class="material-symbols-outlined"> {{ x.icon }} </span>
        <h6>{{ x.name }}</h6>
      </div>
    </ng-container>
  </div>
  <div class="line2"></div>
</div>
