<div class="signindiv m-3">
    <h2>ادخل الكود الخاص بك</h2>
    <span class="text-secondary">لقد تم ارسال الكود عبر ايميلك</span>
    <div *ngIf="showerroOtp" class="alert alert-danger col-md-8 mt-3 p-2">هذا الكود غير صحيح</div>
    <form [formGroup]="otpForm" (ngSubmit)="submit($event)">
        <div class="mt-3 mb-3">
            <!-- <ng-otp-input formControlName="otpCode" [config]="otpConfig"></ng-otp-input> -->
            <ng-otp-input class="manotp"  [formCtrl]="otpCode2"  [config]="otpConfig"></ng-otp-input>
        </div>
        <div class="row">
            <button [disabled]="otpCode2.value.length<6" type="submit" class="btn btn-success col-md-8 ">تأكيد الكود</button>
        </div>
    </form>
</div>
