<div class="d-flex jutify-content-center align-items-center container">
    <div class="card py-5 px-3">
        <h5 class="m-0">أدخال الكود الخاص بك</h5>

        <span> ادخل الكود
        <B>323237</B>
        </span>
        <div class="d d-flex flex-row mt-5">
            <input type="text" class="form-control" autofocus="">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
        </div>
        <br>
       
        <button class="btn btn-outline-secondary" type="button">تأكيد الرقم </button>
        <br>
<!-- <span class="d-block mobile-text ">لم استلم الرسالة!          <a class="font-weight-bold text-danger cursor">  عد ارسالها</a></span> -->
<br>
<!-- <span class="font-weight-bold text-danger cursor">اعد ارسالها</span> -->

        <div>
    </div>
</div>