<div class="container" style="background-color: rgba(245,246,251,255);">
    <div class="row">
        <div class="col-md-6 banner-content">
            <div class="banner-promate rounded">
                <span id="new" class="rounded-0 text-white">جديد</span>
                <span>اكسب الكثير من المال من خلال العمل معنا</span>
            </div>
            <div class="banner-title">
                <h1>تجارة، الشركة الاولى للتسويق بالعمولة في مصر</h1>
            </div>
            <p class="banner-desc">يمكنك البدأ بتجارتك الإلكترونية بكل سهولة، وذلك من خلال توفيرنا لك عدد كبير من المنتجات المتنوعة بأسعار مخفضة.</p>
            <div class="banner-actions">
                <a href="/account/">
                    تسجيل الدخول
                </a>
                <a href="/account/">
                    انشاء حساب
                </a>
            </div>
            <span class="banner-footer">
                أكثر من <b>2000</b> تاجر يعمل مع <span class="m-primary">منصة تجارة</span> <br>
                لا تفوّت الفرصة، وانضم الآن!
            </span>
            <!-- <img class="parallax_img" src="https://etegarah.com/static/images/dd5.webp" alt=""> -->
        </div>
        <div class="col-md-6 banner-image">
            <img src="https://etegarah.com/static/images/dd5.webp" alt="">
        </div>
    </div>
</div>
