<!-- <div class="container " style="background-color: rgba(245,246,251,255);">
    <div class="row">
        <div class="col-md-6 banner-content ">
            
            <div class="banner-promate rounded ">
                <span id="new" class="rounded-4 text-white p-1">جديد</span>
                <span>اكسب الكثير من المال من خلال العمل معنا</span>
            </div>
            <div class="banner-title">
                <h1>تجارة، الشركة الاولى للتسويق بالعمولة في مصر</h1>
            </div>
            <p class="banner-desc">يمكنك البدأ بتجارتك الإلكترونية بكل سهولة، وذلك من خلال توفيرنا لك عدد كبير من المنتجات المتنوعة بأسعار مخفضة.</p>
            <div class="banner-actions">
                <a href="/account/">
                    تسجيل الدخول
                </a>
                <a href="/account/">
                    انشاء حساب
                </a>
            </div>
            <span class="banner-footer">
                أكثر من <b>2000</b> تاجر يعمل مع <span class="m-primary">منصة تجارة</span> <br>
                لا تفوّت الفرصة، وانضم الآن!
            </span>
            <img class="parallax_img" src="https://etegarah.com/static/images/dd5.webp" alt="">
        </div>
   
        <div class="col-md-6 banner-image">
            <img src="https://etegarah.com/static/images/dd5.webp" alt="">
        </div>
    </div>
</div> -->

<div class="container" style="background-color: #f5efd7;">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6 banner-content">

            <div class="banner-promate px-2  py-2 pb-2 rounded-4  d-inline-block w-auto my-4" >
                <span id="new" class="rounded-4 text-white  text-center m-1 custom-font ">جديد</span>
                <span class="m-2 custom-font" >اكسب الكثير من المال من خلال العمل معنا</span>
            </div>
            <div class="banner-title mb-4 ">
                <!-- color: #33375c; -->
                <h1  style=" font-weight: bolder; font-size: 50px; color: #675548;">تجارة، الشركة الاولى للتسويق بالعمولة في مصر</h1>
            </div>
            <p class="banner-desc mb-4 paragraph-font" >يمكنك البدأ بتجارتك الإلكترونية بكل سهولة، وذلك من خلال توفيرنا لك عدد كبير من المنتجات المتنوعة بأسعار مخفضة.</p>
            <!-- <div class="banner-actions mb-4">
                <a class="btn btn-success ms-3 rounded-5 px-4 py-2 btn-outline-light border-success" href="/account/">
                    تسجيل الدخول
                </a>
                <a class="btn btn-outline-success rounded-5 px-4 py-2" href="/account/">
                    انشاء حساب
                </a>
            </div> -->
            <div class="banner-actions mb-4">
                <a class="btn btn-custom-color-signin ms-3 rounded-5 px-4 py-2 btn-outline-light" href="/account/">
                    تسجيل الدخول
                </a>
                <a class="btn btn-custom-color-signup rounded-5 px-4 py-2" href="/account/">
                    انشاء حساب
                </a>
            </div>
            <span class="banner-footer paragraph-font" style="font-size: medium;">
                أكثر من <b>2000</b> تاجر يعمل مع <span class="m-primary">منصة تجارة</span> <br>
                لا تفوّت الفرصة، وانضم الآن!
            </span>
            <!-- <img class="parallax_img" src="https://etegarah.com/static/images/dd5.webp" alt=""> -->
        </div>

        <div class="col-md-6 banner-image">
            <img src="assets/images/home3.png" alt="" width="700" height="700" style="object-fit: cover;">
        </div>
    </div>
</div>

