.banner-promate{
    background-color: rgba(233,238,244,255);
    padding: 6px;
}
#new{
    /* background-color: #009860; */
    /* background-color: #675548; */
    background-color:#f4623a;;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-top: 1px;
    padding-bottom: 1px;

   
}
.custom-font {
    font-size: 13px; /* Adjust the value as needed */
    font-weight: 600;
}
.paragraph-font{
    /* color: #535986; */
    color: #675548
    ;
      font-size: 23px;
}

 /* Custom styles here */
 .btn-custom-color-signin {
    background-color: #f4623a; /* Base color */
    border-color: #f4623a; /* Border color */
}
.btn-custom-color-signin:hover,
.btn-custom-color-signin:focus {
    background-color: white; /* Darker shade for hover */
    /* border-color: #c3512f;  */
    /* Darker border color for hover */
    color: #f4623a; /* Text color */
}
.btn-custom-color-signup {
    background-color: white; /* Base color */
    border-color: #f4623a;
     /* Border color */
     color:#f4623a ;
    }
.btn-custom-color-signup:hover,
.btn-custom-color-signup:focus {
    background-color: #f4623a; /* Darker shade for hover */
    /* border-color: #c3512f;  */
    /* Darker border color for hover */
    color: white; 
    /*Text color */
}