<div class="container">
  <h3 class="mb-3">اضافة منتج</h3>
  <form class="row g-3" [formGroup]="productForm">
    <div class="col-md-5 form-control-div " [ngClass]="{
      sucess: nameproductcontrol?.valid,
      danger: nameproductcontrol?.errors && ( nameproductcontrol?.touched || showerroM)
    }">
      <label for="nameProduct" class="form-label">اسم المنتج</label>
      <input type="text" class="form-control our-is-valid" id="nameProduct" formControlName="nameproduct" required />
      <i *ngIf="nameproductcontrol?.valid" class="bi bi-check-circle-fill"></i>
      <i *ngIf="nameproductcontrol?.errors && (nameproductcontrol?.touched || showerroM)"
        class="bi bi-exclamation-circle-fill"></i>
      <div *ngIf="nameproductcontrol?.errors && (nameproductcontrol?.touched || showerroM)"
        class="alert p-1 mt-2 alert-danger">
        <ng-container *ngIf="nameproductcontrol?.hasError('required')">
          يجب عليك ادخال الاسم
        </ng-container>
        <ng-container *ngIf="nameproductcontrol?.hasError('minlength')">
          يجب علي الاسم ان تكون اطول من 4 حروف
        </ng-container>
        <ng-container *ngIf="nameproductcontrol?.hasError('pattern')">
          ادخل الاسم بالغة العربية رجاء
        </ng-container>
      </div>
    </div>
    <div class="col-md-5 form-control-div " [ngClass]="{
      sucess: categoryproductcontrol?.valid,
      danger: categoryproductcontrol?.errors && (categoryproductcontrol?.touched || showerroM)
    }">
      <label class="mb-2">الفئات</label>
      <ng-multiselect-dropdown formControlName="categoryproduct" [placeholder]="'.'" [settings]="dropdownSettings"
        [data]="dropdownList" [(ngModel)]="selectedItems" (onselect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
      <i *ngIf="categoryproductcontrol?.valid" class="bi bi-check-circle-fill"></i>
      <i *ngIf="categoryproductcontrol?.errors && (categoryproductcontrol?.touched || showerroM)"
        class="bi bi-exclamation-circle-fill"></i>
      <div *ngIf="categoryproductcontrol?.errors && (categoryproductcontrol?.touched || showerroM)"
        class="alert p-1 mt-2 alert-danger">
        <ng-container *ngIf="categoryproductcontrol?.hasError('required')">
          يجب عليك اختيار فئة
        </ng-container>

      </div>
    </div>
    <div class="col-md-10 form-control-div " [ngClass]="{
      sucess: descriptionProductcontrol?.valid,
      danger: descriptionProductcontrol?.errors && (descriptionProductcontrol?.touched || showerroM)
    }">
      <label for="productDescription" class="form-label">وصف المنتج</label>
      <textarea formControlName="descriptionProduct" class="form-control" id="productDescription" rows="3"
        required></textarea>
      <i *ngIf="descriptionProductcontrol?.valid" class="bi bi-check-circle-fill"></i>
      <i *ngIf="descriptionProductcontrol?.errors && (descriptionProductcontrol?.touched || showerroM)"
        class="bi bi-exclamation-circle-fill"></i>
      <div *ngIf="descriptionProductcontrol?.errors && (descriptionProductcontrol?.touched || showerroM)"
        class="alert p-1 mt-2 alert-danger">
        <ng-container *ngIf="descriptionProductcontrol?.hasError('required')">
          يجب عليك ادخال وصف المنتج
        </ng-container>
        <ng-container *ngIf="descriptionProductcontrol?.hasError('minlength')">
          يجب علي الوصف ان تكون اطول من 6 حروف
        </ng-container>
        <ng-container *ngIf="descriptionProductcontrol?.hasError('pattern')">
          ادخل الوصف بالغة العربية رجاء
        </ng-container>
      </div>
    </div>
    <!-- <div class="col-md-10 text-start">
      <button class="btn btn-success rounded-1  px-5" type="submit">اضف</button>
    </div> -->
  </form>
  
  <div class="mt-3">
    <div class="col-md-10 text-start">
      <button class="btn btn-dark rounded-1 text-light ms-1 py-1 px-4" (click)="togglePhoto()">الصور <i
          class="me-2 bi bi-plus-circle-fill"></i></button>
    </div>
    <div *ngIf="showerroM && imagesColor.length == 0" class="col-10">
      <div class="alert alert-danger mt-3 p-1"> يجب ادخال صورة </div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 ps-md-5 g-4 ms-md-5 mt-2">
      <div *ngFor="let x of imagesColor2; let i = index" class="col">
        <div class="card">
          <div class="card-img-top">

            <div class="">
              <img [src]="selectedimgUrl[i]" class="d-block w-100" style="aspect-ratio: 1; object-fit: cover;">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title" [style.color]="nameofColorforImage[i].code"> {{nameofColorforImage[i].name}} <i
                (click)="deleteImage(i)" class="me-2 bi bi-x-square text-danger"></i></h5>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="mt-3 col-md-10">
    <div class=" text-start">
      <button class="btn btn-dark rounded-1 text-light ms-1 py-1 px-4" (click)="toggleVarient()">المنتج <i
          class="me-2 bi bi-plus-circle-fill"></i></button>
    </div>
    <div *ngIf="showerroM && productVariants.length == 0" class="col-12">
      <div class="alert alert-danger mt-3 p-1"> يجب ادخال منتج </div>
    </div>
    <table *ngIf="productVariants.length>0" class="table w-md-75 mt-2">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">اللون</th>
          <th scope="col">الحجم</th>
          <th scope="col">السعر</th>
          <th scope="col">العدد</th>
          <th scope="col">الخصم</th>
          <th scope="col">اجراءت</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productVariants, let i = index">
          <th scope="row">{{i}}</th>
          <td>{{datafColorandSizeCari[i].colorname}}</td>
          <td>{{datafColorandSizeCari[i].sizename}}</td>
          <td>{{item.unitPrice}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.discount}}</td>
          <td><i (click)="deleteRow(i)" class="bi bi-x-square text-danger"></i></td>
        </tr>

      </tbody>
    </table>


  </div>
  <div class="col-12 text-center mt-3">
    <button (click)="onsumbit()" class="btn btn-success rounded-1  px-5">
      <div *ngIf="waitingDoneSend">
        <div  class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      {{btnText}}
    </button>
  </div>

</div>
<!-- <div id="photoForm" class="add-model model-wrapper">
 <div class="model">
    <div class="model-header">
      <h3>اضافة صور للون</h3>
      <div class="model-body2">
        <form class="row g-3" [formGroup]="picForm" (submit)="addPhoto($event)">
          <div class="col-md-6 form-control-div" [ngClass]="{
            sucess: colorPicFormcontrol?.valid,
            danger: colorPicFormcontrol?.errors && (colorPicFormcontrol?.touched || showerroC)
          }">
      <input type="file">
          
        </div>
        </form>
        
      </div>

    </div>
    
 </div>


</div > -->

<div id="photoForm" class="add-model model-wrapper">
  <div class="model">
    <div class="model-header">
      <h3>اضافة صور للون</h3>
    </div>
    <div class="model-body2">
      <form class="row g-3" [formGroup]="picForm" (submit)="addPhoto($event)">
        <div class="col-md-6 form-control-div" [ngClass]="{
          sucess: colorPicFormcontrol?.valid,
          danger: colorPicFormcontrol?.errors && (colorPicFormcontrol?.touched || showerroC)
        }">
          <label for="colorSelect" class="form-label">اللون</label>
          <select formControlName="colorId" class="form-select" id="colorSelect" required>
            <option *ngFor="let x of colorList" value="{{x.id}}">{{x.name}}</option>
          </select>
          <i *ngIf="colorPicFormcontrol?.valid" class="bi bi-check-circle-fill"></i>
          <i *ngIf="colorPicFormcontrol?.errors && (colorPicFormcontrol?.touched || showerroC)"
            class="bi bi-exclamation-circle-fill"></i>
          <div *ngIf="colorPicFormcontrol?.errors && (colorPicFormcontrol?.touched || showerroC)"
            class="alert p-1 mt-2 alert-danger">
            <ng-container *ngIf="colorPicFormcontrol?.hasError('required')">
              يجب عليك اختيار لون
            </ng-container>

          </div>
        </div>
        <div class="col-md-6 form-control-div " 
        [ngClass]="{
          sucess: imagePicFormcontrol?.valid,
          danger: imagePicFormcontrol?.errors && (imagePicFormcontrol?.touched || showerroC)
        }">
         

          <!-- <label for="nameProduct" class="form-label"> لينك الصورة</label>
          <input type="file" class="form-control our-is-valid" id="nameProduct" formControlName="image" required />
          <i *ngIf="imagePicFormcontrol?.valid" class="bi bi-check-circle-fill"></i>
          <i *ngIf="imagePicFormcontrol?.errors && ( imagePicFormcontrol?.touched || showerroC)" class="bi bi-exclamation-circle-fill"></i>
          <div *ngIf="imagePicFormcontrol?.errors && (imagePicFormcontrol?.touched || showerroC)" class="alert p-1 mt-2 alert-danger">
            <ng-container *ngIf="imagePicFormcontrol?.hasError('required')">
              يجب عليك ادخال لينك لصورة
            </ng-container>
            <ng-container *ngIf="imagePicFormcontrol?.hasError('pattern')">
              ادخل لينك صحيح
            </ng-container>
            
          </div> -->
          <label for="image" class="form-label">صورة المنتج</label>
          <input  type="file" class="form-control" id="nameProduct"  (change)="onFileSelected($event)" required accept="image/*" />
          <i *ngIf="imagePicFormcontrol?.valid" class="bi bi-check-circle-fill"></i>
          <i *ngIf="imagePicFormcontrol?.errors && (imagePicFormcontrol?.touched || showerroC)"
            class="bi bi-exclamation-circle-fill"></i>
          <div *ngIf="imagePicFormcontrol?.errors && (imagePicFormcontrol?.touched || showerroC)"
            class="alert p-1 mt-2 alert-danger">
            <ng-container *ngIf="imagePicFormcontrol?.hasError('required')">
              يجب عليك اختيار صورة
            </ng-container> =
            <!-- Add more error messages if needed -->
           </div> 
        </div>

        <div class="col-12 center">
          
          <button class="btn btn-success m-3" type="submit">اضف</button>
          <button class="btn btn-danger m-3" type="button" (click)="closePhoto()">
            تجاهل
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="VariantForm" class="add-model2 model-wrapper2">
  <div class="model2">
    <div class="model-header2">
      <i (click)="closeVarient()" class="bi bi-x-square-fill"></i>
      <h3>اضافة تفاصيل المنتج</h3>
    </div>
    <div *ngIf="match">
      <div class="p-2 alert alert-danger">ذلك المنتج موجود بالفعل <br><span style="font-size: 13px;">حيث تم استخدام هذا اللون مع هذا الحجم </span></div>
    </div>
    <div class="model-body2">
      <form class="row g-3" [formGroup]="productVariantForm" (submit)="addVariant($event)">
        
        <div class="col-6 form-control-div" [ngClass]="{
          sucess: colorvariantcontrol?.valid,
          danger: colorvariantcontrol?.errors && (colorvariantcontrol?.touched || showerroS)
        }">
        
          <label for="colorSelect" class="form-label">اللون</label>
          <select formControlName="color" class="form-select" id="colorSelect" required>
            <option *ngFor="let x of nameofColorforImage" value="{{x.id}}">{{x.name}}</option>
          </select>
          <i *ngIf="colorvariantcontrol?.valid" class="bi bi-check-circle-fill"></i>
          <i *ngIf="colorvariantcontrol?.errors && (colorvariantcontrol?.touched || showerroS)"
            class="bi bi-exclamation-circle-fill"></i>
          <div *ngIf="colorvariantcontrol?.errors && (colorvariantcontrol?.touched || showerroS)"
            class="alert p-1 mt-2 alert-danger">
            <ng-container *ngIf="colorvariantcontrol?.hasError('required')">
              يجب عليك اختيار لون
            </ng-container>

          </div>
        </div>
        <div class="col-6 form-control-div" [ngClass]="{
          sucess: sizevariantcontrol?.valid,
          danger: sizevariantcontrol?.errors && (sizevariantcontrol?.touched || showerroS)
        }">
          <label for="colorSelect" class="form-label">الحجم</label>
          <select formControlName="size" class="form-select" id="colorSelect" required>
            <option *ngFor="let x of sizeList" value="{{x.id}}">{{x.size}}</option>

          </select>
          <i *ngIf="sizevariantcontrol?.valid" class="bi bi-check-circle-fill"></i>
          <i *ngIf="sizevariantcontrol?.errors && ( sizevariantcontrol?.touched || showerroS)"
            class="bi bi-exclamation-circle-fill"></i>
          <div *ngIf="sizevariantcontrol?.errors && ( sizevariantcontrol?.touched || showerroS)"
            class="alert p-1 mt-2 alert-danger">
            <ng-container *ngIf="sizevariantcontrol?.hasError('required')">
              يجب عليك اختيار حجم
            </ng-container>

          </div>
        </div>
        <div class="col-md-6 form-control-div" [ngClass]="{
          sucess: pricevariantcontrol?.valid,
          danger: pricevariantcontrol?.errors && ( pricevariantcontrol?.touched || showerroS)
        }">
          <label for="priceInp" class="form-label">السعر</label>
          <input formControlName="price" type="number" class="form-control" id="priceInp" required />
          <i *ngIf="pricevariantcontrol?.valid" class="bi bi-check-circle-fill"></i>
          <i *ngIf="pricevariantcontrol?.errors && ( pricevariantcontrol?.touched || showerroS)"
            class="bi bi-exclamation-circle-fill"></i>
          <div *ngIf="pricevariantcontrol?.errors && (pricevariantcontrol?.touched || showerroS)"
            class="alert p-1 mt-2 alert-danger">
            <ng-container *ngIf="pricevariantcontrol?.hasError('required')">
              يجب عليك ادخال السعر
            </ng-container>
            <ng-container *ngIf="pricevariantcontrol?.hasError('min')">
              يجب علي السعر ان يكون اكبر من او يساوي 70 جنيه
            </ng-container>
          </div>
        </div>
        <div class="col-md-6 form-control-div" [ngClass]="{
          sucess: quantiyVariantcontrol?.valid,
          danger: quantiyVariantcontrol?.errors && (quantiyVariantcontrol?.touched || showerroS)
        }">
          <label for="quntityInp" class="form-label">العدد</label>
          <input formControlName="quantiy" type="number" class="form-control" id="quntityInp" required />
          <i *ngIf="quantiyVariantcontrol?.valid" class="bi bi-check-circle-fill"></i>
          <i *ngIf="quantiyVariantcontrol?.errors && (quantiyVariantcontrol?.touched || showerroS)"
            class="bi bi-exclamation-circle-fill"></i>
          <div *ngIf="quantiyVariantcontrol?.errors && (quantiyVariantcontrol?.touched || showerroS)"
            class="alert p-1 mt-2 alert-danger">
            <ng-container *ngIf="quantiyVariantcontrol?.hasError('required')">
              يجب عليك ادخال الكمية
            </ng-container>
            <ng-container *ngIf="quantiyVariantcontrol?.hasError('min')">
              لا يجب عن الرقم ان يقل عن 5
            </ng-container>
          </div>
        </div>
        <div class="col-md-6 form-control-div" [ngClass]="{
          sucess: disceountvariantcontrol?.valid && (disceountvariantcontrol?.touched || showerroS),
          danger: disceountvariantcontrol?.errors && ( disceountvariantcontrol?.touched || showerroS)
        }">
          <label for="quntityInp" class="form-label">الخصم</label>
          <input formControlName="disceount" type="number" class="form-control" id="quntityInp" required />
          <i *ngIf="disceountvariantcontrol?.valid && (disceountvariantcontrol?.touched || showerroS)"
            class="bi bi-check-circle-fill"></i>
          <i *ngIf="disceountvariantcontrol?.errors && (disceountvariantcontrol?.touched || showerroS)"
            class="bi bi-exclamation-circle-fill"></i>
          <div *ngIf="disceountvariantcontrol?.errors && (disceountvariantcontrol?.touched || showerroS)"
            class="alert p-1 mt-2 alert-danger">

            <ng-container *ngIf="disceountvariantcontrol?.hasError('min') || disceountvariantcontrol?.hasError('max')">
              يجب ان يكون الخصم ما بين 1% : 25%
            </ng-container>
          </div>
        </div>
        <div class="col-12 center">
          <button class="btn btn-secondary" type="submit">اضف</button>
        </div>
      </form>
    </div>
  </div>
</div>