<table class="table align-middle mb-0 bg-white">
    <thead class="table-dark table table-bordered border-dark">
      <tr>
        <th>Name</th>
        <th>Order</th>
        <th>Status</th>
        <th>placed</th>

        <th>Position</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://scontent.fcai20-3.fna.fbcdn.net/v/t39.30808-6/366364488_2140700572927655_2122689409299408227_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=hJ08UBsJc24AX9EdGin&_nc_ht=scontent.fcai20-3.fna&oh=00_AfDfvW80YAanwChIV3412DKXN1wZnoz-do313wXGyCRRtQ&oe=6606451F"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Shrouk Mohamed</p>
              <p class="text-muted mb-0">Shrouk@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1254
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>12/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Bani suef</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">450</p>
        </td>
        
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://scontent.fcai20-3.fna.fbcdn.net/v/t39.30808-6/416017238_1376319883023918_81308293433126134_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=3pBPl--_0EwAX-Sg0X0&_nc_ht=scontent.fcai20-3.fna&oh=00_AfAqck8zXRCoGAVhQYD8RfMLmYskOJpZpI34D7cM7D7f8g&oe=660592DD"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Sama Mohamed</p>
              <p class="text-muted mb-0">sama25 @ gmail.com</p>
            </div>
          </div>
        </td>
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1255
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>22/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Cairo</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">550</p>
        </td>
        
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://scontent.fcai20-3.fna.fbcdn.net/v/t1.6435-9/174251277_2694470264184319_2981404263819510995_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=kprnf7waXZwAX948938&_nc_ht=scontent.fcai20-3.fna&oh=00_AfBgRnO8MTrFU0SZItJCxhhQ0D1Bmj7BOMbWi3JauHbLlw&oe=662827C1"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Mohamed Yasser</p>
              <p class="text-muted mb-0">Mohamed@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1554
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>21/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Fayom</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">850</p>
        </td>
        
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://pbs.twimg.com/media/F-lO7t0XIAA3MIf?format=jpg&name=4096x4096"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">logyn Mohamed</p>
              <p class="text-muted mb-0">logyn@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1545
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>12/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Bani suef</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">450</p>
        </td>
        
      </tr> 
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://scontent.fcai20-3.fna.fbcdn.net/v/t39.30808-6/366364488_2140700572927655_2122689409299408227_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=hJ08UBsJc24AX9EdGin&_nc_ht=scontent.fcai20-3.fna&oh=00_AfDfvW80YAanwChIV3412DKXN1wZnoz-do313wXGyCRRtQ&oe=6606451F"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Shrouk Mohamed</p>
              <p class="text-muted mb-0">Shrouk@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1254
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>12/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Bani suef</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">450</p>
        </td>
        
      </tr>
     
    </tbody>
  </table>