<!-- <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
>
</ngx-charts-line-chart> -->

<div class="container">
    <div class="row">

        <div class="p-5 d-none d-md-block col-lg-9 col-xl-10">
            <div class="d-flex justify-content align-items-center" style="justify-content: space-between;">

            <span><a type="button" style="direction: rtl;"
                    class="btn btn-sm btn-outline-success ">
                    <i class="bi bi-calendar-day mx-1"></i>
                    This week
                </a></span>
                <span class=" h1" style="color: #675548; direction: ltr;">Dashboard</span>

            </div>
            <!-- style="object-fit: cover; width: 1300px;"> -->
            <canvas id="canvas"></canvas>
        </div>
    </div>
</div>