
.contai {
    width: 95%;
    background-color: white;
    margin: 2rem auto;
    padding-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 22px -5px rgba(0, 0, 0, 0.75);
  }
  
  .contai header {
    position: relative;
    width: 100%;
    background-color: #000000;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
  }
  
  .contai header h3 {
    color: #fff;
    margin-left: 1.5rem;
  
  }
  
  
  /*table start design*/
  .table-products {
  
    position: relative;
    width: 95%;
    margin: 2rem auto;
    border-collapse: collapse;
  }
  
  .table-products th,
  .table-products td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0.3rem;
    text-align: left;
  }
  
  .table-products th {
    background: #fafafa;
    padding: 1rem auto;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .table-products tbody td {
    padding: 0.8rem;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .table-products tbody td p {
    display: inline-block;
    padding: 5px;
  }
  
  
  .table-products tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  
  .table-products td:last-child{
      text-align: left;
  }
  
  .table-products th:last-child{
      text-align:right;
  }
  /* Hover effect for table rows */
  .table-products tbody tr:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }
  
  
  
  .imgdiv{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
  }
  
  
  .statuspraccept{
      background-color:rgba(0, 128, 0, 0.2);
      color:rgba(0, 128, 0, 1);
      font-weight: 500;
      border-radius: 30px;
      height: 40px;
      width: 150px;
      text-align: center;
      border: .5px solid rgba(0, 128, 0, .4);
  }
  
  .statusprreject{
      background-color:rgba(255, 0, 0, 0.2);
      color: rgb(139, 4, 4);
      font-weight: 500;
      border-radius: 30px;
      height: 40px;
      width: 150px;
      text-align: center;
    border: 1px solid rgba(139, 4, 4, .4);
      
  }
  
  .btn2 {
    background: transparent;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    margin: 5px;
    transition: all 0.5s ease;
  }
  
  .btn-edit {
    color: #198754;
    border: 1px solid #198754;
  
  }
  
  .btn-edit:hover {
    background-color: #198754;
    color: #fff;
  }
  .btn-deliver {
    color: #9a5307;
    border: 1px solid #9a5307;
  
  }
  
  .btn-deliver:hover {
    background-color: #9a5307;
    color: #fff;
  }
  
  .btn-delete {
    color: #dc3545;
    border: 1px solid #dc3545;
  }
  
  .btn-delete:hover {
    background-color: #dc3545;
    color: #fff;
  }
  
  
  .table-wrapped {
    text-align: center;
  }





/*Modellllll*/

.model-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.24);
    display: none;
    z-index: 100000000000;
  }
  
  .model {
    position: relative;
    background: #fff;
    text-align: center;
    width: 44%;
    max-height: 90%;
    border-radius: 10px;
    margin: 1rem auto;
    box-shadow: 0px 4px 22px -5px rgba(0, 0, 0, 0.75);
    animation-name: animatetop;
    animation-duration: .4s;
    overflow-y: scroll;
    
  }
  
  @keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
  
    to {
        top: 0;
        opacity: 1;
    }
  }
  
  .model-show {
    display: block;
  }
  
  .model-header {
    background: #f8fafb;
    padding: 2rem;
  }
  
  .model-body {
    padding: 1rem;
    text-align:start;
  }
  
  .model-header i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
    
    color: rgb(40, 33, 33);
    cursor: pointer;
  }

  .model-header i:hover {
    
    font-size: 21px;
    color: rgb(205, 64, 64);
  }
  .detilas p {
   font-weight: 650;
   font-size: 16px;
   width: 50%;
   /* text-align: left; */
  }
  .detilas p span{
    width: 100px;
    /* text-align: right; */
    /* padding-right: 0; */
    display: inline-block;
    color: gray;
    font-size: 14px;
    font-weight: 500;
  }

  .img-product-order-D{
    max-width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
  }

.customerDetilas{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {

    .model {
        right: 40px;
        width: 75%;
    }
 
}

  @media screen and (max-width: 1200px) {
  
  
  
    .table-products thead {
      display: none;
    }
  
  
  .table-products tbody,
  .table-products tr,
  .table-products td {
      display: block;
      width: 99%;
  }
  
  .table-products tr {
      margin-bottom: 15px;
  
  }
  
  .table-products th,
  .table-products td {
  
      border-top: none;
      border-bottom: .5px solid #ddd;
  
  }
  
  .table-products td {
      text-align: left;
      padding-right: 60%;
  }
  
  .table-products td::before {
      content: attr(data-label);
      position: static;
      float: right;
      width: 50%;
      font-size: 15px;
      font-weight: bold;
      text-align: right;
  }
  

  }
  


  
.pagiDiv{
  text-align: center;
  margin: auto;
}

/* Custom styles for ngx-pagination */

Change the background color of the pagination controls
/* .custom-pagination /deep/ .ngx-pagination {
  background-color: transparent;
  padding: 10px;
}
 */
/* Style the individual page numbers */
.custom-pagination /deep/ .ngx-pagination li {
  margin: 0;
  display: inline-block;
  font-size: 14px;
}

/* Style the active page number */
.custom-pagination /deep/ .ngx-pagination .current {
  background-color: #198754;
  color: #fff;
  border-radius: 50%;
  /* padding: 7px 10px; */
}

/* Style the "Next" and "Previous" buttons */
.custom-pagination /deep/ .ngx-pagination a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effect for buttons */
.custom-pagination /deep/ .ngx-pagination a:hover {
  color: #198754;
}

/* Optional: Center the pagination controls */
.custom-pagination /deep/ .ngx-pagination {
  text-align: center;
}


/*Filter part*/


.filterpart{
  margin:20px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

 .filter{
  padding: 6px;
  border-radius: 6px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter:hover{
  cursor: pointer;
  background-color: rgba(0, 196, 0, 0.04);  
}

 .filterpart .sortselect{
  border: 0px;
  width: 240px;
}

.filterpart .sortselect:focus{
  border: 1px dotted gray;
}