.container{
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.contai {
    width: 550px;
    background-color: white;
    margin: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 22px -5px rgba(0, 0, 0, 0.75);
  }
  
  .contai header {
    position: relative;
    width: 100%;
    background-color: #000000;
    padding: 1rem ;
    border-radius: 10px 10px 0px 0px;
  }
  
  .contai header h3 {
    color: #fff;
    margin-left: 1.5rem;
  
  }
  
  .addbtn{

    width: 100%;
    text-align: left;
    margin-top: 10px;
    padding-left: 25px;

  }
  
  /*table start design*/
  .table-products {
  
    position: relative;
    width: 95%;
    margin: 2rem auto;
    border-collapse: collapse;
  }
  
  .table-products th,
  .table-products td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0.3rem;
    text-align: right;
  }
  
  .table-products th {
    background: #fafafa;
    padding: 1rem auto;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .table-products tbody td {
    padding: 0.8rem;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .table-products tbody td p {
    display: inline-block;
    padding: 5px;
  }
  
  
  .table-products tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  .table-products td p {
    max-width: 400px;
  }
  
  .table-products td:last-child{
      text-align: left;
  }
  
  .table-products th:last-child{
      text-align:left;
      padding-left: 50px;
  }
  /* Hover effect for table rows */
  .table-products tbody tr:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }
  
  
  
  
  
  .btn2 {
    background: transparent;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    margin: 5px;
    transition: all 0.5s ease;
  }
  
  .btn-edit {
    color: #198754;
    border: 1px solid #198754;
  
  }
  
  .btn-edit:hover {
    background-color: #198754;
    color: #fff;
  }
  
  
  .btn-delete {
    color: #dc3545;
    border: 1px solid #dc3545;
  }
  
  .btn-delete:hover {
    background-color: #dc3545;
    color: #fff;
  }
  
  
  .table-wrapped {
    text-align: center;
  }


  .codebox{
    /* margin: 5px; */
    border-radius: 10px;
    aspect-ratio: 1;
    border: 2px solid #f5f5f5;
    max-width: 100px;
  }

  @media screen and (max-width: 600px) {
  
    .codebox{
      margin-right: 100px;
    }
  
    .table-products thead {
      display: none;
    }
  
  
  .table-products tbody,
  .table-products tr,
  .table-products td {
      display: block;
      width: 99%;
  }
  
  .table-products tr {
      margin-bottom: 15px;
  
  }
  
  .table-products th,
  .table-products td {
  
      border-top: none;
      border-bottom: .5px solid #ddd;
  
  }
  
  .table-products td {
      text-align: left;
      padding-right: 60%;
  }
  
  .table-products td::before {
      content: attr(data-label);
      position: static;
      float: right;
      width: 50%;
      font-size: 15px;
      font-weight: bold;
      text-align: right;
  }
  

  }
  

  /*Form*/

  .model-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.24);
    display: none;
    z-index: 100000000000;
  }
  
  .model {
    position: relative;
    background: #fff;
    text-align: center;
    width: 44%;
    max-height: 90%;
    border-radius: 10px;
    margin: 1rem auto;
    box-shadow: 0px 4px 22px -5px rgba(0, 0, 0, 0.75);
    animation-name: animatetop;
    animation-duration: .4s;
    
  }
  
  @keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
  
    to {
        top: 0;
        opacity: 1;
    }
  }
  
  .model-show {
    display: block;
  }
  
  .model-header {
    background: #f8fafb;
    padding: 2rem;
  }
  
  .model-body {
    padding: 1rem;
    text-align:start;
  }
  
  .model-body input[type="file"] {
    display: none;
  }

  .center{
    text-align: center;
  }



   
.pagiDiv{
  text-align: center;
  margin: auto;
}

/* Custom styles for ngx-pagination */

Change the background color of the pagination controls
/* .custom-pagination /deep/ .ngx-pagination {
  background-color: transparent;
  padding: 10px;
}
 */
/* Style the individual page numbers */
.custom-pagination /deep/ .ngx-pagination li {
  margin: 0;
  display: inline-block;
  font-size: 14px;
}

/* Style the active page number */
.custom-pagination /deep/ .ngx-pagination .current {
  background-color: #198754;
  color: #fff;
  border-radius: 50%;
  /* padding: 7px 10px; */
}

/* Style the "Next" and "Previous" buttons */
.custom-pagination /deep/ .ngx-pagination a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effect for buttons */
.custom-pagination /deep/ .ngx-pagination a:hover {
  color: #198754;
}

/* Optional: Center the pagination controls */
.custom-pagination /deep/ .ngx-pagination {
  text-align: center;
}
