
.fontInfo{
  color: #675548;
  font-size:25px;
}
.iconInfo{
  color: #f4623a;
  font-size:30px;
}
.xx{
  width:80px;
  height: 80px;
  margin: auto;
  margin-bottom: 20px;
}
.marketing{
  padding-top: 50px;
  padding-bottom: 50px;
}
.landing-section-title{
  margin-bottom: 50px;
}
.bg{
  color: #f4623a;
  font-size:100px;
}


