<div class="">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">الإسم</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">صابرين مجدي</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">البريد الإلكتروني</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">sabreenmagdy@gmail.com</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">رقم التليفون</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">01122259640</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">كلمة السر</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">sab123</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">العنوان</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">شارع الطيران،مدينة نصر،القاهرة</p>
        </div>
      </div>
    </div>
  </div>
</div>
