<p>binding works!</p>

<input
  type="text"
  #nameIn
  placeholder="Enter name"
  class="form-control"
  (input)="printVal($event)"
/>
<br />
<!-- <input
  #ageIn
  id="agein"
  type="number"
  placeholder="Enter age"
  class="form-control"
  (input)="printAge(ageIn)"
/> -->
<input
  #ageIn
  id="agein"
  type="number"
  placeholder="Enter age"
  class="form-control"
  (input)="printAge(ageIn.value)"
/>
<br />
<button class="btn btn-success" (click)="printMesage()">Log Message</button>

<button class="btn btn-success" (click)="printValues()">print values</button>
