<div class="signindiv m-3">
    <h2 class="mb-2">إنشاء حساب</h2>
    <span class="text-secondary mb-3"
      >قم بالتسجيل للتمكن من عرض المنتجات، والبدء بتسويقها وربح الاموال.
    </span>
    <!-- enter($event) -->
    <form
      class="my-3 row"
      [formGroup]="signupform"
      (ngSubmit)="submitRegisterForm($event)"
    >
      
      <div
        class="mb-3 col-md-12 form-control-div"
        [ngClass]="{
          sucess: passwordcontrol?.valid,
          danger:
            passwordcontrol?.errors && (passwordcontrol?.touched || showerror)
        }"
      >
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="كلمة المرور"
        />
        <i *ngIf="passwordcontrol?.valid" class="bi bi-check-circle-fill"></i>
        <i
          *ngIf="
            passwordcontrol?.errors && (passwordcontrol?.touched || showerror)
          "
          class="bi bi-exclamation-circle-fill"
        ></i>
        <div
          *ngIf="
            passwordcontrol?.errors && (passwordcontrol?.touched || showerror)
          "
          class="alert p-1 mt-3 alert-danger"
        >
          <ng-container *ngIf="passwordcontrol?.hasError('required')">
            يجب عليك ادخال كلمة المرور
          </ng-container>
          <ng-container *ngIf="passwordcontrol?.hasError('minlength')">
            يجب علي كلمة المرور ان تكون اطول من 5 حروف
          </ng-container>
          <ng-container *ngIf="passwordcontrol?.hasError('pattern')">
            يجب علي كلمة المرور ان تحتوي علي حرف ابجدي علي الاقل واحد [A-Z]
          </ng-container>
        </div>
      </div>
      <div
        class="mb-3 col-md-12 form-control-div"
        [ngClass]="{
          sucess:
            confirmpasswordcontrol?.valid && !signupform.hasError('mismatch'),
          danger:
            (confirmpasswordcontrol?.errors &&
              (confirmpasswordcontrol?.touched || showerror)) ||
            signupform.hasError('mismatch')
        }"
      >
        <input
          formControlName="confirmpassword"
          type="password"
          class="form-control"
          placeholder="تأكيد كلمة المرور"
        />
        <i
          *ngIf="
            confirmpasswordcontrol?.valid && !signupform.hasError('mismatch')
          "
          class="bi bi-check-circle-fill"
        ></i>
        <i
          *ngIf="
            (confirmpasswordcontrol?.errors &&
              (confirmpasswordcontrol?.touched || showerror)) ||
            signupform.hasError('mismatch')
          "
          class="bi bi-exclamation-circle-fill"
        ></i>
        <div
          *ngIf="
            (confirmpasswordcontrol?.errors &&
              (confirmpasswordcontrol?.touched || showerror)) ||
            signupform.hasError('mismatch')
          "
          class="alert p-1 mt-3 alert-danger"
        >
          <ng-container *ngIf="confirmpasswordcontrol?.hasError('required')">
            يجب عليك ادخال كلمة المرور
          </ng-container>
          <ng-container *ngIf="signupform.hasError('mismatch')">
            الرجاء التأكد من تطابق كلمة المرور
          </ng-container>
        </div>
      </div>
      <div class="d-flex">
        <button type="submit"  class="btn btn-success col-12">إعادة تعيين كلمة السر</button>
        
      </div>
      <!-- <div class="alert alert-danger">{{ errorMessage }}</div> -->
    </form>
    <!-- <span class="text-secondary">- او سجل الدخول بواسطة -</span>
    <div>
      <a href=""
        ><img
          class="logo"
          src="https://cdn.icon-icons.com/icons2/1945/PNG/512/iconfinder-google-4661601_122471.png"
          alt=""
      /></a>
    </div> -->
  </div>
  