<table class="table align-middle bg-white mb-3 col-md-6">
    <thead class="table-dark table table-bordered border-dark">
      <tr>
        <th>Order</th>
        <th>Status</th>
        <th>placed</th>

        <th>Position</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1254
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>12/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Bani suef</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">450</p>
        </td>
        
      </tr>
      <tr>
        
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1255
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>22/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Cairo</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">550</p>
        </td>
        
      </tr>
      <tr>
        
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1554
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>21/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Fayom</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">850</p>
        </td>
        
      </tr>
      <tr>
        
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1545
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>12/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Bani suef</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">450</p>
        </td>
        
      </tr> 
      <tr>
       
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                1254
              </button>
         
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>12/3/2024</td>
        <td>
            <p class="fw-normal mb-1">Bani suef</p>
        </td>
        <td>
            <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">450</p>
        </td>
        
      </tr>
     
    </tbody>
  </table>