
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <form action="/department/add" method="post">
        <label>Id</label>
        <input type="text" name="id" /><br />
        <label>Name</label>
        <input type="text" name="name" /><br />
        <input type="submit" value="Add department" />
    </form>
</body>
</html>
