<div class="conta m-3">
  <h3>احدث المنتجات</h3>
  <div class="line"></div>
  <div class="items row">
    <div *ngIf="allproductList.length == 0" class="loader"></div>
    <div
        
      *ngFor="let x of allproductList.slice(0, 8)"
      class="element col-lg-3 col-md-6"
    >
      <div class="element-img">
        <span
          (click)="pushItemToFavCart(x.id)"
          class="material-symbols-outlined fav"
        >
          favorite
        </span>
        <span class="msg fav">اضف للمفضلة</span>
        <span
          [routerLink]="['/store/productDetials', x.id]"
          class="material-symbols-outlined show"
        >
          visibility
        </span>
        <span class="msg show">عرض المنتج</span>

        <img [src]="'http://www.srm.somee.com/Images/'+x.image" />

      </div>
      <div class="element-detials">
        <h4>{{ x.name }}</h4>
        <p>{{ x.price }} <span>جنيه</span></p>
      </div>
    </div>
  </div>
  <div class=".bgo">
    <button
      (click)="goto()"
      class="btn btn-success rounded-1 btngoto shrink-border"
    >
      تصفح اكتر
    </button>
  </div>
</div>
