.conta{
    text-align: center;
    padding: 50px;
}
.conta h3{
    font-weight: bold;
}

.conta .line{
    border: 1px solid green;
    width: 50px;
    margin: 20px auto;
}

.conta .items{
    margin: 20px;
    
}

.conta .items .element{
    margin-bottom: 10px;
    
}
.element-img{
    position: relative;
}

.element-img img{
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.element-img:hover  span.material-symbols-outlined{
    visibility:visible;
    
}

.element-img span.material-symbols-outlined:hover{
    color: black;
}
.element-img span.material-symbols-outlined{
    position:absolute;
    visibility: hidden;
    color: gray;
    top: 10px;
    right: 20px;
    padding: 7px;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.662);
}

.element-img span.material-symbols-outlined.cart{
    top: 10px;
    right: 10px;
}
.element-img span.material-symbols-outlined.fav{
    top: 55px;
    right: 10px;
}

.element-img span.material-symbols-outlined.show{
    top: 100px;
    right: 10px;
}

.element-img span.msg{
    position: absolute;
    border-radius: 5px;
    right: 55px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    visibility: hidden;
    padding: 5px;
}

.element-img span.material-symbols-outlined.cart:hover ~span.msg.cart{
    visibility: visible;
}
span.msg.cart {
    top:10px;
}

.element-img span.material-symbols-outlined.fav:hover ~span.msg.fav{
    visibility: visible;
}
span.msg.fav {
    top:55px;
}

.element-img span.material-symbols-outlined.show:hover ~span.msg.show{
    visibility: visible;
}
span.msg.show {
    top:100px;
}

.element-detials{
    margin-right: 5px;
    margin-top: 20px;
    text-align: right;
}

.element-detials p{
    color: gray;
    font-weight: bold;
    font-size: 16px;
}

.element-detials p span{
    color: black;
    font-size: 12px;
}



.btngoto {

    width: 250px;
    height: 50px;    
}




.btngoto:hover {
    background: white;
    border: 1px solid #198754;
    color: #198754;
}




  
