<form [formGroup]="editProfileForm" (ngSubmit)="editForm($event)">
  <div
    class="mb-3 form-control-div"
    [ngClass]="{
      sucess: namecontrol?.valid,
      danger: namecontrol?.errors && namecontrol?.touched
    }"
  >
    <label for="username" class="form-label">الإسم</label>
    <input
      type="text"
      class="form-control"
      id="username"
      formControlName="name"
      [value]="nameValue"
    />
    <i *ngIf="namecontrol?.valid" class="bi bi-check-circle-fill"></i>
    <i
      *ngIf="namecontrol?.errors && namecontrol?.touched"
      class="bi bi-exclamation-circle-fill"
    ></i>
    <div
      *ngIf="namecontrol?.errors && namecontrol?.touched"
      class="alert p-1 mt-3 alert-danger"
    >
      <ng-container *ngIf="namecontrol?.hasError('required')">
        يجب عليك ادخال الاسم
      </ng-container>
      <ng-container *ngIf="namecontrol?.hasError('minlength')">
        يجب علي الاسم ان تكون اطول من 2 حروف
      </ng-container>
      <ng-container *ngIf="namecontrol?.hasError('pattern')">
        ادخل الاسم بالغة العربية رجاء
      </ng-container>
    </div>
  </div>
  <div
    class="mb-3 form-control-div"
    [ngClass]="{
      sucess: emailcontrol?.valid,
      danger: emailcontrol?.errors && emailcontrol?.touched
    }"
  >
    <label for="useremail" class="form-label">البريد الإلكتروني</label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      id="useremail"
      [value]="EmailValue"
    />
    <i
      *ngIf="emailcontrol?.valid "
      class="bi bi-check-circle-fill"
    ></i>
    <i
      *ngIf="emailcontrol?.errors && emailcontrol?.touched"
      class="bi bi-exclamation-circle-fill"
    ></i>
    <div
      *ngIf="emailcontrol?.errors && emailcontrol?.touched"
      class="alert p-1 mt-3 alert-danger"
    >
      <ng-container *ngIf="emailcontrol?.hasError('required')">
        يجب عليك ادخال البريد الالكتروني
      </ng-container>
      <ng-container *ngIf="emailcontrol?.hasError('pattern')">
        ادخل بريد الكتروني صالح
      </ng-container>
    </div>
  </div>
  <div
    class="mb-3 form-control-div"
    [ngClass]="{
      sucess: phonecontrol?.valid ,
      danger: phonecontrol?.errors && phonecontrol?.touched
    }"
  >
    <label for="userPhone" class="form-label">رقم التليفون</label>
    <input
      formControlName="phone"
      type="text"
      class="form-control"
      id="userPhone"
      [value]="PhoneValue"
    />
    <i
      *ngIf="phonecontrol?.valid "
      class="bi bi-check-circle-fill"
    ></i>
    <i
      *ngIf="phonecontrol?.errors && phonecontrol?.touched"
      class="bi bi-exclamation-circle-fill"
    ></i>
    <div
      *ngIf="phonecontrol?.errors && phonecontrol?.touched"
      class="alert p-1 mt-3 alert-danger"
    >
      <ng-container *ngIf="phonecontrol?.hasError('pattern')">
        ادخل رقم صالح يبدأ 011 او 010 او 012 او 015
      </ng-container>
    </div>
  </div>
  <div
    class="mb-3 form-control-div"
    [ngClass]="{
      sucess: passwordcontrol?.valid,
      danger: passwordcontrol?.errors && passwordcontrol?.touched
    }"
  >
    <label for="userPassword" class="form-label">كلمة السر</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="userPassword"
      [value]="PhoneValue"
    />
    <i *ngIf="passwordcontrol?.valid" class="bi bi-check-circle-fill"></i>
    <i
      *ngIf="passwordcontrol?.errors && passwordcontrol?.touched"
      class="bi bi-exclamation-circle-fill"
    ></i>
    <div
      *ngIf="passwordcontrol?.errors && passwordcontrol?.touched"
      class="alert p-1 mt-3 alert-danger"
    >
      <ng-container *ngIf="passwordcontrol?.hasError('required')">
        يجب عليك ادخال كلمة المرور
      </ng-container>
      <ng-container *ngIf="passwordcontrol?.hasError('minlength')">
        يجب علي كلمة المرور ان تكون اطول من 5 حروف
      </ng-container>
    </div>
  </div>
  <button type="submit" class="btn btn-success">تعديل</button>
</form>
