 <footer id="footer">
   <!-- <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>يمكنك الانضمام الينا</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>  -->

  <div class="footer-top bg-gray">
     <div class="container">
       <div class="row">
  <div class="col-lg-3 col-md-6 footer-contact">
            <h3>الموقع الالكتروني</h3>
            
          </div>  

  <div class="col-lg-3 col-md-6 footer-links text-gray-600 fs-6">
          <h4>روابط مفيده</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right" ></i> <a href="#">الرئيسية</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="store">المتجر</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="favorite">المفضلة</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="cart">عربة التسوق</a>
            </li>
          </ul>
        



        </div> 



  <div class="col-lg-3 col-md-6 footer-links">
          <h4>الدعم والمساعده</h4>
          <section class="mb-4">
  <!-- Facebook -->
   <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://www.facebook.com/profile.php?id=61557847072755&mibextid=ZbWKwL"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a> 

  <!-- Twitter -->
  <!-- <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://www.Twitter.com/"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
       -->
  <!-- Google -->
  <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="mailto:srm9808@gmail.com"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>

  <!-- Instagram -->
  <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://www.instagram.com/__samafawzy__?igsh=MTk5b2ZjYXN0aWY0Zg=="
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>

   <!--Linkedin -->
   <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://www.linkedin.com/in/sama-fawzy-969b101b2?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
            

   </section> 
  
 </div>
        </div>
      </div>
    </div>
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>SRM</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">Designed by <strong><span>SRM</span></strong
      > </div>
  </div>
 
  
</footer> 
