*{
    font-family: "Cairo", sans-serif;
}

.signindiv form .form-control{

    height: 45px;
    background-color: #edf2f5;
}

.signindiv form button{

    height: 45px;
    font-weight: bold;
}
.logo{
    width: 50px;
    margin: 10px;
    transition: all 0.4s;
    border-radius: 50%;
    background-color: #32A04C;


}

.logo:hover{
    padding: 3px;
}

.form-control-div i {
    position: absolute;
    top :12px;
    left: 20px;
  }


  .lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	/* height: 40px; */
  }
  .lds-ellipsis div {
	position: absolute;
	top: -10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
  }
  @keyframes lds-ellipsis3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
  }
  @keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
  }