<div class="signindiv m-3">
  <h2 class="mb-2">إنشاء حساب</h2>
  <span class="text-secondary mb-3"
    >قم بالتسجيل للتمكن من عرض المنتجات، والبدء بتسويقها وربح الاموال.
  </span>
  <form class="my-3 row">
    <div class="mb-3 col-md-6">
      <input type="text" class="form-control" placeholder="الأسم الاول" />
    </div>
    <div class="mb-3 col-md-6">
      <input type="text" class="form-control" placeholder="الأسم الاخير" />
    </div>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        placeholder="البريد الالكتروني"
      />
    </div>
    <div class="mb-3 col-md-6">
      <input type="password" class="form-control" placeholder="كلمة المرور" />
    </div>
    <div class="mb-3 col-md-6">
      <input
        type="password"
        class="form-control"
        placeholder="تأكيد كلمة المرور"
      />
    </div>
    <div class="d-flex gap-2">
      <button class="btn btn-success col-md-7">انشاء الحساب</button>
      <a class="btn btn-outline-success col border-2" href="signin"
        >تسجيل الدخول</a
      >
    </div>
  </form>
  <span class="text-secondary">- او سجل الدخول بواسطة -</span>
  <div>
    <a href=""
      ><img
        class="logo"
        src="https://cdn.icon-icons.com/icons2/1945/PNG/512/iconfinder-google-4661601_122471.png"
        alt=""
    /></a>
  </div>
</div>
