@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <h1>@Model.Id :: @Model.Name  :: @Model.age  :: @Model.Address</h1>
</body>
</html>
