@model IEnumerable<Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    
    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>age</th>
                <th>Address</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Id</td>
                <td>@item.Name</td>
                <td>@item.age</td>
                <td>@item.Address</td>
            </tr>

        }
    </table>
    <a href="/student/create" class="btn btn-danger">Add</a>
</body>
</html>
