<div class="signindiv m-3">
    <h2>طلب إعادة تعيين كلمة المرور</h2>
    <span class="text-secondary" >قم بإدخال البريد الإلكتروني المرتبط بحسابك لنتمكن من ارسال بريد إلكتروني لإعادة تعيين كلمة المرور الخاصة بك.</span>
    <form [formGroup]="forgtForm" class="my-3" (submit)="ForgetSub($event)">
        <div class="mb-3 form-control-div" 
        [ngClass]="{
            sucess: emailcontrol?.valid,
            danger: emailcontrol?.errors && (emailcontrol?.touched || showerror)
          }"
        >
          <input formControlName="email" type="email" class="form-control"   placeholder="البريد الالكتروني">
          <i *ngIf="emailcontrol?.valid" class="bi bi-check-circle-fill"></i>
          <i
            *ngIf="emailcontrol?.errors && (emailcontrol?.touched || showerror)"
            class="bi bi-exclamation-circle-fill"
          ></i>
          <div
            *ngIf="emailcontrol?.errors && (emailcontrol?.touched || showerror)"
            class="alert p-1 mt-3 alert-danger"
          >
            <ng-container *ngIf="emailcontrol?.hasError('required')">
              يجب عليك ادخال البريد الالكتروني
            </ng-container>
    
            <ng-container *ngIf="emailcontrol?.hasError('pattern')">
              ادخل بريد الالكتروني صحيح
            </ng-container>
          </div>
        </div>
        <div class="d-flex gap-2 ">
            <button class="btn btn-success col-md-7">
                <div *ngIf="waitsend">
                    <div class="lds-ellipsis">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                {{btnText}}
            </button>
            <button [routerLink]="'/signin'" class="btn btn-outline-success col border-2">تسجيل الدخول</button>
            
        </div>
    </form>
    

</div>
