*{
    font-family: "Cairo", sans-serif;
}

.signindiv form .form-control{

    height: 45px;
    background-color: #edf2f5;
}

.signindiv form button{

    height: 45px;
    font-weight: bold;
}

.form-control-div i {
    position: absolute;
    top :12px;
    left: 20px;
  }