<div class="signindiv m-3">
    <h2>طلب إعادة تعيين كلمة المرور</h2>
    <span class="text-secondary" >قم بإدخال البريد الإلكتروني المرتبط بحسابك لنتمكن من ارسال بريد إلكتروني لإعادة تعيين كلمة المرور الخاصة بك.</span>
    <form class="my-3">
        <div class="mb-3">
          <input type="email" class="form-control"   placeholder="البريد الالكتروني">
        </div>
        <div class="d-flex gap-2 ">
            <button class="btn btn-success col-md-7">إعادة التعيين</button>
            <button [routerLink]="'/signin'" class="btn btn-outline-success col border-2">تسجيل الدخول</button>
            
        </div>
    </form>
    

</div>
