<table class="table align-middle bg-white mb-3 col-md-6">
  <thead class="table-dark table table-bordered border-dark">
    <tr>
      <th>رقم الطلب</th>
      <th>حالة الطلب</th>
      <th>تاريخ الطلب</th>
      <th>عنوان العميل</th>
      <th>التكلفة</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of processedData">
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          {{ item.orderId }}
        </button>
      </td>
      <td>
        <!-- <span class="badge badge-success rounded-pill d-inline">Active</span> -->
        {{ item.status }}
      </td>
      <td>{{ item.date }}</td>
      <td>
        <p class="fw-normal mb-1">{{ item.address }}</p>
      </td>
      <td>
        <p class="text-success fw-normal mb-1 fa-light fa-dollar-sign">
          {{ item.totalCost }}
        </p>
      </td>
    </tr>
  </tbody>
</table>
