<div class="row notification-container">
  <div class="card notification-card notification-warning">
    <div class="card-body">
      <table>
        <tr>
          <td style="width: 70%">
            <div class="card-title" style="font-size: 18px">
              لقد سجلت الدخول قبل قليل
            </div>
          </td>
          <td style="width: 30%; text-align: left">
            <a href="#" class="btn btn-info">عرض</a>
            <a href="#" class="btn btn-danger dismiss-notification">تجاهل</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="card notification-card notification-warning">
    <div class="card-body">
      <table>
        <tr>
          <td style="width: 70%">
            <div class="card-title" style="font-size: 18px">
              لقد تم تأكيد طلبك وسيصل خلال يومان
            </div>
          </td>
          <td style="width: 30%; text-align: left">
            <a href="#" class="btn btn-info">عرض</a>
            <a href="#" class="btn btn-danger dismiss-notification">تجاهل</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="card notification-card notification-danger">
    <div class="card-body">
      <table>
        <tr>
          <td style="width: 70%">
            <div class="card-title" style="font-size: 18px">
              لقد تم رفض طلبك
            </div>
          </td>
          <td style="width: 30%; text-align: left">
            <a href="#" class="btn btn-info">عرض</a>
            <a href="#" class="btn btn-danger dismiss-notification">تجاهل</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="card notification-card notification-reminder">
    <div class="card-body">
      <table>
        <tr>
          <td style="width: 70%">
            <div class="card-title" style="font-size: 18px">
              لديك فى عربة التسوق منتجات على وشك النفاذ بادر بطلبها
            </div>
          </td>
          <td style="width: 30%; text-align: left">
            <a href="#" class="btn btn-info">عرض</a>
            <a href="#" class="btn btn-danger dismiss-notification">تجاهل</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
