*{
  direction: rtl;
}

/*Modellllll*/

.model-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.24);
  display: none;
  z-index: 100000000000;
}

.model {
  position: relative;
  background: #fff;
  text-align: center;
  width: 44%;
  max-height: 90%;
  border-radius: 10px;
  margin: 1rem auto;
  box-shadow: 0px 4px 22px -5px rgba(0, 0, 0, 0.75);
  animation-name: animatetop;
  animation-duration: .4s;
  overflow-y: scroll;
  
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0;
  }

  to {
      top: 0;
      opacity: 1;
  }
}

.model-show {
  display: block;
}

.model-header {
  background: #f8fafb;
  padding: 2rem;
}

.model-body {
  padding: 1rem;
  text-align:start;
}

.model-header i {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
  
  color: rgb(40, 33, 33);
  cursor: pointer;
}

.model-header i:hover {
  
  font-size: 21px;
  color: rgb(205, 64, 64);
}
.detilas p {
 font-weight: 650;
 font-size: 16px;
 width: 50%;
 /* text-align: left; */
}
.detilas p span{
  width: 100px;
  /* text-align: right; */
  /* padding-right: 0; */
  display: inline-block;
  color: gray;
  font-size: 14px;
  font-weight: 500;
}

.img-product-order-D{
  max-width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
}

.customerDetilas{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {

  .model {
      right: 40px;
      width: 75%;
  }

}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Ensure tables don't exceed the width of the screen */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

/* Additional responsive table styles */

@media (max-width: 768px) {
  .table-responsive {
    border: 0;

  }
  .table-font{
    font-size: 14px;
  }
}
@media (max-width: 300px) {
  .table-responsive {
    border: 0;

  }
  .table-font{
    font-size: 10px;
  }
}

.table-font{
  font-size: 12px;
}

.pagiDiv{
  text-align: center;
  margin: auto;
}

/* Custom styles for ngx-pagination */

Change the background color of the pagination controls
/* .custom-pagination /deep/ .ngx-pagination {
  background-color: transparent;
  padding: 10px;
}
 */
/* Style the individual page numbers */
.custom-pagination /deep/ .ngx-pagination li {
  margin: 0;
  display: inline-block;
  font-size: 14px;
}

/* Style the active page number */
.custom-pagination /deep/ .ngx-pagination .current {
  background-color: #198754;
  color: #fff;
  border-radius: 50%;
  /* padding: 7px 10px; */
}

/* Style the "Next" and "Previous" buttons */
.custom-pagination /deep/ .ngx-pagination a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effect for buttons */
.custom-pagination /deep/ .ngx-pagination a:hover {
  color: #198754;
}

/* Optional: Center the pagination controls */
.custom-pagination /deep/ .ngx-pagination {
  text-align: center;
}