<app-navbar></app-navbar>
<!-- <app-admin></app-admin>  -->
<!-- <app-cart></app-cart>
<app-footer></app-footer> -->
<!-- <app-root></app-root> -->
<!-- <app-admin></app-admin> -->

<!-- <app-cart></app-cart> -->
<!-- <app-favorite></app-favorite> -->

<!-- <app-store></app-store> -->
<!-- <app-footer></app-footer> -->
<!-- <app-checkout></app-checkout> -->
<!-- <app-product-details-main></app-product-details-main> -->
<router-outlet></router-outlet>
<!-- <app-about></app-about> -->
<!-- <router-outlet></router-outlet> -->

<app-footer></app-footer>
