<div class="d-flex flex-column mt-5 mb-5  fontColor maindiv bg-success-subtle" style="padding-left: 150px; padding-right: 150px; ">
  <div style="text-align: center">
    <h3>ارآء العملاء</h3>
    <span>دع عملائنا يخبروك عن تجربتهم معنا. </span>
  </div>

  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <ng-container *ngFor="let i of range(0, SlidersCount)">
        <div
          [ngClass]="{
            active: isFirst(i)
          }"
          class="mt-4 carousel-item pe-4 ps-4"
          data-bs-interval="1500"
        >
          <div class="d-flex flex-row justify-content-between ms-5 mt-4">
            <ng-container *ngFor="let review of iterateSlider(); index as j">
              <div
                [ngClass]="{
                  'me-4': !isFirst(j)
                }"
                class="col-12 col-sm-4"
              >
                <div class="card border-light" style="width: 350px;">
                  <div class="card-body card-color">
                    <svg
                      class="card-title"
                      *ngFor="let i of range(0, review.rate)"
                      width="22px"
                      height="22px"
                      viewBox="0 0 1024.00 1024.00"
                      class="icon"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#ffa500"
                      stroke="#ffa500"
                      transform="rotate(0)"
                      stroke-width="0.01024"
                    >
                      <g id="SVGRepo_bgCarrier" stroke-width="0" />

                      <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke="#CCCCCC"
                        stroke-width="2.048"
                      />

                      <g id="SVGRepo_iconCarrier">
                        <path
                          d="M923.2 429.6H608l-97.6-304-97.6 304H97.6l256 185.6L256 917.6l256-187.2 256 187.2-100.8-302.4z"
                          fill="#ffa500"
                        />

                        <path
                          d="M1024 396H633.6L512 21.6 390.4 396H0l315.2 230.4-121.6 374.4L512 770.4l316.8 232L707.2 628 1024 396zM512 730.4l-256 187.2 97.6-302.4-256-185.6h315.2l97.6-304 97.6 304h315.2l-256 185.6L768 917.6l-256-187.2z"
                          fill=""
                        />
                      </g>
                    </svg>
                    <p class="card-text my-3 fontColor">
                      {{ review.content }}
                    </p>
                  </div>
                  <div class="card-body fontColor">
                    <div class="card-text my-1">{{ review.name }}</div>
                    <div class="card-text my-1">{{ review.region }}</div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<br/>