<div id="blur"></div>
<div class="contain container">
  <div class="title">
    <span
      ><a [routerLink]="[ComponentUrl.Default]" routerLinkActive="active"
        >الرئيسية</a
      >
      / الكل</span
    >
    <h1>جميع المنتجات</h1>
  </div>
  <div class="filterpart">
    <div class="filter" (click)="toggle()">
      <span class="material-symbols-outlined">tune</span>
      الفلتر
    </div>
    <div>
      <select class="sortselect">
        <option selected="">ترتيب حسب</option>
        <option value="1">الأكثر رواجاً</option>
        <option value="2">السعر: من الأعلى إلى الأقل</option>
        <option value="3">السعر: من الأقل إلى الأعلى</option>
        <option value="4">جديدنا</option>
        <option value="5">الأفضل تقييمًا</option>
      </select>
    </div>
  </div>
  <div class="items row">
    <div *ngFor="let x of ProductList" class="element col-lg-4 col-md-6">
      <div class="element-img">
        <span class="material-symbols-outlined fav"> favorite </span>
        <span class="msg fav">اضف للمفضلة</span>
        <span class="material-symbols-outlined show"> visibility </span>
        <span class="msg show">عرض المنتج</span>
        <img
          [src]="x.image"
        />
      </div>
      <div class="element-detials">
        <h4>{{x.name}}</h4>
        <p>{{x.price}} <span>جنيه</span></p>
      </div>
    </div>
    
</div>
<div class="filterlist col-md-3" id="popup">
  <div class="close">
    <button class="btn" (click)="toggle()">x</button>
  </div>
  <div class="nameSearch">
    <form  >
      <input type="text" placeholder="البحث باسم المنتج ..." />
      <button>
        <span class="material-symbols-outlined"> chevron_left </span>
      </button>
    </form>
  </div>
  <div class="priceSearch">
    <h5>السعر<span class="EGP">( جنيه )</span></h5>
    <form>
      <span class="txt">من</span>
      <input type="number" />
      <span class="txt">الي</span>
      <input type="number" />
      <button>
        <span class="material-symbols-outlined"> chevron_left </span>
      </button>
    </form>
  </div>

  <div class="categSearch">
    <h5 class="mb-3">الفئات</h5>
    <ul class="catList">
      <li *ngFor="let x of categoryList" class="catItem">
        <a [routerLink]="['/store',x.name]">{{x.name}}</a>
      </li>
      
    </ul>
  </div>
</div>
