<div id="blur"></div>
<div class="contain container">
  <div class="title">
    <span
      ><a [routerLink]="[ComponentUrl.Default]" routerLinkActive="active"
        >الرئيسية</a
      >
      / {{pageWhat}}</span
    >
    <h1>جميع المنتجات</h1>
  </div>
  <div class="filterpart">
    <div class="filter" (click)="toggle()">
      <span class="material-symbols-outlined">tune</span>
      الفلتر
    </div>
    <div>
      <select class="sortselect" (change)="sortProductList($event)">
        <option selected="">ترتيب حسب</option>
        <option value="2">السعر: من الأعلى إلى الأقل</option>
        <option value="3">السعر: من الأقل إلى الأعلى</option>
        <option value="4">جديدنا</option>
        <option value="5">الأفضل تقييمًا</option>
      </select>
    </div>
  </div>
  <div *ngIf="ProductList.length == 0 && !noitem" class="loaddiv">
    <div class="loader"></div>
  </div>
  <div *ngIf="ProductList.length == 0 && noitem">
    <div class="alert alert-danger">لا يوجد منتجات متوفرة</div>
  </div>
  <div class="items row">
    <div
    (mouseenter)="hoverfun(x.id)"
    (mouseleave)="unhoverfun(x.id)"
     *ngFor="let x of ProductList | paginate: {  itemsPerPage: 6, currentPage: p, }" class="element col-lg-4 col-md-6 col-6">
      <div class="element-img ">
        <span
        *ngIf="!isFav"
          (click)="pushItemToFavCart(x.id)"
          class="material-symbols-outlined fav"
        >
        
        <i  class="bi bi-heart"></i>
          <!-- favorite -->
        </span>
        <span
        *ngIf="isFav"
        
        (click)="removeItemfromFav(x.id)"
        class="material-symbols-outlined fav"
      >
      <i  class="bi bi-heart-fill"></i>
     
        <!-- favorite -->
      </span>
        <span *ngIf="!isFav" class="msg fav">اضف للمفضلة</span>
        <span *ngIf="isFav" class="msg fav">ازل من المفضلة</span>
      
        <!-- <span *ngIf="checkFav(x.id)" (click)="removeItemfromFav(x.id)" > <i class="bi bi-heart-fill"></i> </span>
        <span class="msg fav">اضف للمفضلة</span> -->
        <span *ngIf="x.quantity>0" [routerLink]="['/store/productDetials',x.id]" class="material-symbols-outlined show"> visibility </span>
        <span *ngIf="x.quantity>0" class="msg show">عرض المنتج</span>
        <span *ngIf="x.quantity==0"  class="material-symbols-outlined show"> visibility </span>
        <span *ngIf="x.quantity==0" class="msg show"> غير متوفر</span>
        <img

          [src]="'http://www.srm.somee.com/Images/'+x.image"
        />
      </div>
      <div class="element-detials">
        <h4>{{x.name}}</h4>
        <div><p>{{x.price}} <span class="egp">جنيه</span></p> <p *ngIf="x.quantity == 0" class="out"> هذا المنتج غير متوفر</p>  </div>
        
      </div>
    </div>
    <div  class="pagiDiv">
      <pagination-controls class="custom-pagination" nextLabel="&rsaquo;" previousLabel="&lsaquo;" (pageChange)="p = $event"></pagination-controls>
    </div>
    
    
</div>
<div class="filterlist col-md-3" id="popup">
  <div class="close">
    <button class="btn" (click)="toggle()">x</button>
  </div>
  <div class="nameSearch" >
    <form  [formGroup]="nameSearchForm" ngModel >
      <input formControlName="name" type="text" placeholder="البحث باسم المنتج ..."  />
      
    </form>
  </div>
  <div class="priceSearch">
    <h5>السعر<span class="EGP">( جنيه )</span></h5>
    <form [formGroup]="PriceSearchForm">
      <span class="txt">من</span>
      <input type="number" formControlName="minPrice" [(ngModel)]="fromPrice" min="0"  />
      <span class="txt">الي</span>
      <input type="number" formControlName="maxPrice" [(ngModel)]="toPrice"  [min]="fromPrice" />
    </form>
  </div>
  <div class="nameSearch2">
    <button (click)="startSearch()" class="search">
      البحث 
    </button>
    <button (click)="cancelFilte()" class="cancel">
      x 
    </button>
    
  </div>
 
  <div class="categSearch">
    <h5 class="mb-3">الفئات</h5>
    <ul class="catList">
      <li *ngFor="let x of categoryList" class="catItem">
        <a [routerLink]="['/store',x.name]">{{x.name}}  ({{x.numberOfProducts}})</a>
      </li>
      
    </ul>
  </div>
</div>
